.cf:after,
.cf:before
{
  content: '';
  display: table
}
.cf:after
{
  clear: both;
}


.hidden { display: none; }
.drop { margin-bottom: 20px; }
.tiny_drop { margin-bottom: 10px; }

.box
{
  display: block;
  position: relative;
  border-radius: 5px;
  border: 1px solid #e9eaec;
}

