html,
Body,
button,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
small,
ol,
ul,
li,
hr,
form,
label,
article,
canvas,
footer,
header,
head,
section,
audio,
video,
input,
textarea,
dt,
dd
{
    margin: 0;
    border: 0;
    padding: 0;
    color: #434549;
    font-size: 14px;
}

div,
section,
article,
head,
ul,
li,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
textarea
{
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
          font-smoothing: antialiased;
}

.unselectable
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

pre, code
{
	tab-size:   2;
  font-family: 'mononoki', "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

b
{
    color: #b5bdc1;
}


li
{
    list-style: none;
}

input, textarea, button, a, div[contenteditable]
{
    outline: none;
    background: transparent;

    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}

video, img
{
    vertical-align: middle;
}

html,
body
{
  width:      100%;
  min-height: 100%;
}

body
{
  background: $white;
  font-family: -apple-system, "Source Sans Pro", roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#wrap
{
  overflow:   hidden;
  min-height: 100%;
}
