.doc
{
  h1
  {
    color:   $purple;
    padding: 100px 0 50px;
  }

  .wrapped
  {
    max-width: 600px;
  }

  p
  {
    margin:      0 0 16px;
    font-size:   16px;
    line-height: 26px;
    font-weight: 500;
  }

  a 
  {
    color:           $purple;
    font-size:       16px;
    line-height:     26px;
    font-weight:     500;
  }

  ul,
  ol
  {
    padding: 10px 0;  
  }

  li
  {
    font-size:      16px;
    font-weight:    500;
    line-height:    27px;
    padding-left:   28px;
    padding-bottom: 10px;

    &:before
    {
      content:'\2022';
      display: block;
      position: relative;
      max-width: 0px;
      max-height: 0px;
      left: -25px;
      top: -3px;
      color: $purple;
      font-size: 20px;
    }
  }

  h2
  {
    padding:     20px 0 0;
    line-height: 40px;
  }
  h3
  {
    margin-bottom: 5px;
  }
  h4
  {
    color:       #4f545c;
    padding:     15px 0 0;
    font-size:   20px;
    line-height: 24px;
  }
  strong
  {
    color: #2e3136;
  }


  blockquote
  {
    border:          none;
    margin:          20px 0;
    padding:         40px 10%;
    font-size:       22px;
    font-style:      italic;
    text-align:      center;
    font-weight:     500;
    line-height:     32px;

    p
    {
      color:       $blue;
      font-size:   26px;
      text-align:  center;
      font-style:  italic;
      line-height: 32px;
      font-weight: 400;
    }
  }

  a.anchor {
    float:         left;
    line-height:   1;
    margin-left:   -40px;
  }


  table
  {
    width:      100%;
    padding:    20px 0;
    text-align: left;
    font-size:  15px;

    thead
    {
      th
      {
        margin: 2px 0;
        color: #2e3136;
      }
    }

    tbody
    {
      th
      {
        font-weight: 500;
      }
    }
  }
}
