.logo
{
  width:            132px;
  height:           36px;
  text-indent:      -9999px;
  display:          block;
  background-image: url(../img/logo.svg);

  &.light
  {
    background-position: 0px -36px;
  }
}


.hero
{
  height:              85%;
  position:            relative;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center 0;


  .cont
  {
    z-index:    2;
    margin-top: -7%;
    position:   relative;
  }

  &.full
  {
    height: 100%;
  }
  &.center
  {
    display:         flex; 
    align-items:     center;
    justify-content: center;
  }
}



#illustration
{
  left:        60%;
  width:       420px;
  bottom:      100px;
  height:      637px;
  position:    absolute;
  margin-left: -10px;
  background:  url(../img/illust.svg);

  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0
}

#stripe
{
  width:    100%;
  height:   100%;
  z-index:  1;
  overflow: hidden;
  position: absolute;
  background: #f6f9fc;

  -webkit-transform: skewY(-12deg);
          transform: skewY(-12deg);
  -webkit-transform-origin: 0;
          transform-origin: 0;

  span
  {
    height:   190px;
    position: absolute;
  }

  & span:nth-child(1)
  {
    width:      33.33333%;
    bottom:     0;
    background: #f2f5f8;
  }

  & span:nth-child(2)
  {
    top:        360px;
    right:      0;
    width:      25%;
    background: #eef1f4;
  }
} 
