/**
 * animations.scss
 *
 * Author: Maurice T. Meyer
 * E-Mail: maurice@lavireo.com
 *
 * This document is the property of Laviréo.
 * It is considered confidential and proprietary.
 *
 * This document may not be reproduced or transmitted in any form,
 * in whole or in part, without the express written permission of
 * Laviréo.
 *
 * (c) Laviréo. All rights reserved.
 */


.slideIn
{
  $directions-upDown: (
    up: (
      animation: "slideInUp",
      startPos:  20px
    ),

    down: (
      animation: "slideInDown",
      startPos:  20px
    )
  );

  @each $direction, $args in $directions-upDown
  {
    &--#{$direction}
    {
      opacity: 0;

      -webkit-transform: translateY(#{map-get($args, startPos)});
              transform: translateY(#{map-get($args, startPos)});

      -webkit-animation: #{map-get($args, animation)} .6s ease 0s forwards;
              animation: #{map-get($args, animation)} .6s ease 0s forwards;
    }
  }

  $directions-leftRight: (
    left: (
      animation: "slideInLeft",
      startPos:  20px
    ),

    right: (
      animation: "slideInRight",
      startPos:  20px
    )
  );

  @each $direction, $args in $directions-leftRight
  {
    &--#{$direction}
    {
      opacity: 0;

      -webkit-transform: translateX(#{map-get($args, startPos)});
              transform: translateX(#{map-get($args, startPos)});

      -webkit-animation: #{map-get($args, animation)} .6s ease 0s forwards;
              animation: #{map-get($args, animation)} .6s ease 0s forwards;
    }
  }
}

.slideOut
{
  $directions: (
    up:   "slideOutUp",
    down: "slideOutDown"
  );

  @each $direction, $animation in $directions
  {
    &--#{$direction}
    {
      opacity: 0;

      -webkit-transform: translateY(0, 0, 0);
              transform: translateY(0, 0, 0);

      -webkit-animation: $animation .6s ease 0s forwards;
              animation: $animation .6s ease 0s forwards;
    }
  }
}


@keyframes bounce {
  0% {
    -webkit-transform: scale(.50);
            transform: scale(.50)
  }

  33% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05)
  }

  55% {
    -webkit-transform: scale(.96);
            transform: scale(.96)
  }

  70%, to {
    -webkit-transform: scale(1);
            transform: scale(1)
  }
}


@keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(0) translateY(20px);
            transform: translateZ(0) translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(0) translateY(-20px);
            transform: translateZ(0) translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(0) translateX(20px);
            transform: translateZ(0) translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0);
            transform: translateZ(0) translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(0) translateX(-20px);
            transform: translateZ(0) translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0);
            transform: translateZ(0) translateX(0);
  }
}


@keyframes slideOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateZ(0) translateY(-20px);
            transform: translateZ(0) translateY(-20px);
  }
}

@keyframes slideOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateZ(0) translateY(20px);
            transform: translateZ(0) translateY(20px);
  }
}


.animSpeed
{
  $speeds: (
    fast:   .1s,
    normal: .2s,
    slow:   .6s
  );

  @each $speed, $time in $speeds
  {
    &--#{$speed}
    {
      -webkit-animation-duration: $time;
              animation-duration: $time;
    }
  }
}

.animDelay
{
  $delays: (
    1: .15s,
    2: .30s,
    3: .45s,
    4: .60s,
    5: .75s,
    6:  1s
  );

  @each $delay, $time in $delays
  {
    &--#{$delay}
    {
      -webkit-animation-delay: $time;
              animation-delay: $time;
    }
  }
}