
.avatar
{
  $avatar-sizes:
    xs  30px,
    s   36px,
    m   44px,
    l   60px,
    xl  80px;


  @each $value in $avatar-sizes {
    &--#{nth($value, 1)}
    {
      width: #{nth($value, 2)};
      height: #{nth($value, 2)};

      img
      {
        max-width:     100%;
        max-height:    100%;
        border-radius: 50%;
      }
    }
  }
}
