/**
 * bg.scss
 *
 * Author: Maurice T. Meyer
 * E-Mail: maurice@lavireo.com
 *
 * This document is the property of Laviréo.
 * It is considered confidential and proprietary.
 *
 * This document may not be reproduced or transmitted in any form,
 * in whole or in part, without the express written permission of
 * Laviréo.
 *
 * (c) Laviréo. All rights reserved.
 */



@each $color, $value in $colors {
  .bg--#{$color}
  {
    background-color: $value;
  }
  .bg--#{$color}--active
  {
    &:active,
    &.active
    {
      background-color: $value;
    }
  }
  .fill--#{$color}
  {
    fill: $value;
  }
}