
.carousel
{
  &--items
  {
    overflow:      hidden;
    border-radius: 9px;

    &--wrap
    {
      transform:  translateZ(0) translateX(0);
      transition: transform .2s ease-in-out;
    }
  }

  &--thumbnails
  {
    overflow: hidden;
  }


  &--item,
  &--thumbnail
  {
    flex-shrink: 0;
  }

  &--item
  {
    width:    100%;
    position: relative;

    img
    {
      width:  100%;
      height: auto;
    }
  }

  &--thumbnail
  {
    height: 50px;

    img
    {
      width:  auto;
      height: 100%;
    }
  }

  &--placeholder
  {
    height: 400px;
  }
}