$red:            #F55757;
$redLight:       #F58C8A;
$red_tint:       #FCF0F1;
$blue:           #5968ED;
$blue_tint:      #F0F1FC;
$blue_dark:      #4C5AD6;
$purple:         #6772e5;
$purple_tint:    #f0f1fc;
$purple_dark:    #5d67d0;
$yellow:         #F8B700;
$yellow_tint:    #fdf4e7;
$orange:         #F5B057;
$orange_tint:    #FCF7F0;
$green:          #1EC08C;
$green_tint:     #F0FCF8;
$white:          #ffffff;
$white_dark:     #f1f5f9;
$darkgrey:       #4f545c;
$darkgrey_dark:  #27292f;
$grey:           #828a99;
$light:          #a0a6b1;
$lightgrey:      #f1f3f5;//#e5e9f2;
$grey_tint:      #f7f8f9;
$grey_dark:      #8695a9;
$black:          #2e3136;

$twitter:        #1da1f2;
$youtube:        #ED3833;
$linkedin:       #0077B5;
$facebook:       #4267b2;
$instagram:      #ececec;


$colors: (
  "white":       $white,
  "black":       $black,

  "red":         $red,
  "redLight":    $redLight,
  "red_tint":    $red_tint,
  "blue":        $blue,
  "blue_tint":   $blue_tint,
  "yellow":      $yellow,
  "yellow_tint": $yellow_tint,
  "orange":      $orange,
  "orange_tint": $orange_tint,
  "green":       $green,
  "green_tint":  $green_tint,

  "grey":        $grey,
  "grey_tint":   $grey_tint,
  "darkgrey":    $darkgrey,
  "lightgrey":   $lightgrey,

  "light":       $light,
  "twitter":     $twitter,
  "youtube":     $youtube,
  "linkedin":    $linkedin,
  "facebook":    $facebook,
  "instagram":   $instagram
);
