.caption
{
  .DraftEditor-root
  {
    word-wrap: break-word;
    -webkit-nbsp-mode: normal;
  }


  .DraftEditor-editorContainer
  {
    z-index:  1;
    position: relative;
  }

  .public-DraftEditorPlaceholder
  {
    &-root
    {
      z-index:  1;
      position: absolute;
    }

    &-inner
    {
      color: #C8CACE;  
    }
  }

  p,
  div {
    font-size:   inherit;
    font-weight: inherit;
  }

  .mention,
  .hashtag {
    font-size:        inherit;
    font-weight:      inherit;

    padding:          3px 10px;
    border-radius:    12px;
  }

  .mention {
    color:            $blue;
    background-color: $blue_tint;
  }

  .hashtag {
    color:            $grey;
    background-color: $grey_tint;

    &.bad
    {
      color:            $red;
      background-color: $red_tint;
    }
    &.ok
    {
      color:            $yellow;
      background-color: $yellow_tint;
    }
    &.good
    {
      color:            $green;
      background-color: $green_tint;
    }
  }
}

// .caption
// {
//   word-wrap: break-word;
//   -webkit-nbsp-mode: normal;

//   &--input
//   {
//     z-index:  1;
//     position: relative;
//   }

//   &--placeholder
//   {
//     color:    #C8CACE;
//     z-index:  1;
//     position: absolute;
//   }

//   p,
//   div {
//     font-size:   inherit;
//     font-weight: inherit;
//   }

//   .mention,
//   .hashtag {
//     font-size:        inherit;
//     font-weight:      inherit;

//     padding:          3px 10px;
//     border-radius:    12px;
//   }

//   .mention {
//     color:            $blue;
//     background-color: $blue_tint;
//   }

//   .hashtag {
//     color:            $grey;
//     background-color: $grey_tint;

//     &.bad
//     {
//       color:            $red;
//       background-color: $red_tint;
//     }
//     &.good
//     {
//       color:            $green;
//       background-color: $green_tint;
//     }
//   }
// }