/**
 * evaluate.scss
 *
 * Author: Maurice T. Meyer
 * E-Mail: maurice@lavireo.com
 *
 * This document is the property of Laviréo.
 * It is considered confidential and proprietary.
 *
 * This document may not be reproduced or transmitted in any form,
 * in whole or in part, without the express written permission of
 * Laviréo.
 *
 * (c) Laviréo. All rights reserved.
 */


.evaluate
{
  display:         flex;
  align-items:     center;
  justify-content: center;

  &--drop
  {
    top:             86px;
    left:            0;
    right:           0;
    bottom:          0;
    display:         flex;
    position:        absolute;
    flex-flow:       column;
    justify-content: center;
  }

  &--form
  {
    width:   100%;
    display: none;

    &--inputs
    {
      &--inputs
      {
        //display:    none;
  
        &--caption
        {
          &--input
          {
            resize:         none;
            overflow-y:     hidden;
            line-height:    28px;
  
            a { font-size: inherit; }
          }
        }
  
        &--datetime
        {
          &--wrap
          {
            &--date,
            &--time
            {
              line-height: 24px;
            }
  
            &--time
            {
              position: relative;
  
              &:before
              {
                left:             0;
                width:            1px;
                content:          "";
                position:         absolute;
                height:           24px;
                background-color: #e9eaec;
              }
            }
          }
        }
      }
    }
  }
}