.flex
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  &--grow
  {
    flex-grow: 1;
  }

  &--center
  {
    -webkit-box-pack: center;
    -ms-flex-pack:    center;
    justify-content:  center; 
  }
}
