#foot
{
  &.absolute
  {
    left:     0;
    width:    100%;
    bottom:   0;
    position: absolute;

    a
    {
      color: #fff;
    }
  }

  .wrapped
  {
    padding: 40px 0;
  }

  ul
  {
    text-align: center;
  }

  li
  {
    display: inline-block;
    margin:  0 10px;
    padding: 3px 0;
  }

  a
  {
    color: #999;
    &:hover,
    &:active
    {
      color: #4f545c;
    }
  }

  &__signature
  {
    padding:     20px;
    text-align:  center;
    padding-top: 0;

    a,
    a:hover,
    a:active
    {
      color: #eb4d5c;  

      .heart
      {
        &:before
        {
          content:     '\2665';
          display:     inline-block;
          font-size:   20px;
          font-style:  normal;
          font-weight: 400;
        }
      }
    }
  }
}
