.head
{
  .options
  {
    padding:          7px;
    display:          block;
    border-radius:    6px;
    background-color: transparent;

    -webkit-transition: background-color .2s;
            transition: background-color .2s;

    &:hover,
    &.active
    {
      background-color: #f7f8f9;
    }
  }
}