$loader-sizes: (
  s: 10px,
  m: 20px,
  l: 30px
);


.loader
{
  display:  inline-block;
  position: relative;

  &:after
  {
    width:              100%;
    height:             100%;
    margin:             0;
    content:            "";
    display:            block;
    position:           absolute;
    box-sizing:         border-box;
    border-width:       2px;
    border-color:       $white;
    border-style:       solid;
    border-radius:      50%;
    border-right-color: transparent;

    -webkit-transform: translate(0);
    transform:         translate(0);

    -webkit-animation: spin .8s infinite linear;
    animation:         spin .8s infinite linear
  }

  &--dark
  {
    &:after
    {
      border-color:       $black;
      border-right-color: transparent;
    }
  }

  @each $size, $value in $loader-sizes {
    &--#{$size}
    {
      width:  $value;
      height: $value;
    }
  }
}


@-webkit-keyframes spin
{
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
@keyframes spin
{
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
