/**
 * logo.scss
 *
 * Author: Maurice T. Meyer
 * E-Mail: maurice@lavireo.com
 *
 * This document is the property of Laviréo.
 * It is considered confidential and proprietary.
 *
 * This document may not be reproduced or transmitted in any form,
 * in whole or in part, without the express written permission of
 * Laviréo.
 *
 * (c) Laviréo. All rights reserved.
 */


.logo
{
  width:            36px;
  height:           36px;
  text-indent:      -9999px;
  display:          block;
  background-image: url(../img/logo.svg);

  &.grey
  {
    background-position: 0px -72px;
  }

  &.light
  {
    background-position: 0px -36px;
  }

  &.colored
  {
    background-position: 0px -108px;
  }
}