.onboard
{
  &--blur
  {
    top:              0;
    left:             0;
    width:            100%;
    height:           100%;
    opacity:          0;
    z-index:          200;
    position:         fixed;
    transition:       opacity .2s;
    pointer-events:   none;
    background-color: rgba(255, 255, 255, .7);

    &.active { opacity: 1; }
  }

  &--wrap
  {
    top:      0;
    left:     0;
    z-index:  202;
    position: absolute;
  }

  &--focus,
  &--popover
  {
    z-index: 201;
  }
}