.plan
{
  cursor:  pointer;
  display: block;

  &--content
  {
    border-radius:    6px;
    background-color: #f7f8f9;

    -webkit-transition: -webkit-box-shadow .2s;
            transition: box-shadow .2s;
  }

  &--trigger:checked + &--content
  {
    box-shadow: inset 0 0 0 2px $blue;
  }
}