/**
 * player.scss
 *
 * Author: Maurice T. Meyer
 * E-Mail: maurice@lavireo.com
 *
 * This document is the property of Laviréo.
 * It is considered confidential and proprietary.
 *
 * This document may not be reproduced or transmitted in any form,
 * in whole or in part, without the express written permission of
 * Laviréo.
 *
 * (c) Laviréo. All rights reserved.
 */


.player
{
  position: relative;

  video
  {
    width: 100%;
  }

  &--controls
  {
    top:      0;
    left:     0;
    right:    0;
    bottom:   0;
    position: absolute;
  }
}