.popover
{
  z-index:          99;
  opacity:          0;
  outline:          none;
  visibility:       hidden;
  position:         absolute;
  background:     #fff;
  white-space:      nowrap;
  box-shadow:       0 1px 6px 0 rgba(98,103,109,.3);
  border-radius:    6px;

  -webkit-transition-duration: .3s;
          transition-duration: .3s;

  -webkit-transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
          transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);


  &.open
  {
    opacity:    1;
    visibility: visible;

    &.popover--top,
    &.popover--bottom
    {
      -webkit-transform: translateX(-50%) translateY(0);
              transform: translateX(-50%) translateY(0)
    }

    &.popover--left,
    &.popover--right
    {
      -webkit-transform: translateY(-50%) translateX(0);
              transform: translateY(-50%) translateX(0)
    }


    &.popover--align
    {
      &--left,
      &--right
      {
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
      }
    }
  }

  &--trigger:hover
  {
    .popover
    {
      opacity:    1;
      visibility: visible;
    }

    .popover--top,
    .popover--bottom
    {
      -webkit-transform: translateX(-50%) translateY(0);
              transform: translateX(-50%) translateY(0)
    }

    .popover--left,
    .popover--right
    {
      -webkit-transform: translateY(-50%) translateX(0);
              transform: translateY(-50%) translateX(0)
    }
  }


  &.popover--top,
  &.popover--bottom
  {
    left: 50%;

    &::after
    {
      left: 50%
    }

    -webkit-transform: translateX(-50%);
            transform: translateX(-50%)
  }


  &.popover--left,
  &.popover--right
  {
    top: 50%;

    &::after
    {
      top: 50%
    }

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%)
  }


  &.popover--top
  {
    bottom:        100%;
    margin-bottom: 10px;

    -webkit-transform: translateY(15px) translateX(-50%);
            transform: translateY(15px) translateX(-50%);

    -webkit-transform-origin: bottom;
            transform-origin: bottom;

    &::after
    {
      bottom: -4px;
    }
  }

  &.popover--left
  {
    right:        100%;
    margin-right: 10px;

    -webkit-transform: translateX(15px) translateY(-50%);
            transform: translateX(15px) translateY(-50%);

    -webkit-transform-origin: right;
            transform-origin: right;

    &::after
    {
      right:      -4px;
      margin-top: -5px;
    }
  }

  &.popover--right
  {
    left:        100%;
    margin-left: 10px;

    -webkit-transform: translateX(-15px) translateY(-50%);
            transform: translateX(-15px) translateY(-50%);

    -webkit-transform-origin: left;
            transform-origin: left;

    &::after
    {
      left:       -4px;
      margin-top: -5px;
    }
  }

  &.popover--bottom
  {
    top:        100%;
    margin-top: 10px;

    -webkit-transform: translateY(-15px) translateX(-50%);
            transform: translateY(-15px) translateX(-50%);

    -webkit-transform-origin: top;
            transform-origin: top;

    &::after
    {
      top: -4px;
    }
  }

  &.popover--align
  {
    &--left
    {
      right: auto;
      left:  0;

      -webkit-transform: translateX(0) translateY(15px);
              transform: translateX(0) translateY(15px);

      -webkit-transform-origin: left top;
              transform-origin: left top;

      &::after 
      {
        right: auto;
        left:  15px;
      }
    }

    &--right
    {
      left:  auto;
      right: 0;

      -webkit-transform: translateX(0) translateY(-15px);
              transform: translateX(0) translateY(-15px);

      -webkit-transform-origin: right top;
              transform-origin: right top;

      &::after 
      {
        left:  auto;
        right: 15px;
      }
    }
  }


  &--seperator
  {
    width:  100%;
    margin: 5px 0;
  }


  li
  {
    user-select:      none;
    border-radius:    6px;
    background-color: transparent;

    -webkit-transition: background-color .2s;
            transition: background-color .2s;
    
    &:hover,
    &.active
    {
      background-color: #f7f8f9;
    }
  }
}
