.post
{
  &--wrap
  {
    &--inner
    {
      overflow:      hidden;
      position:      relative;
      border-radius: 3px;

      img
      {
        width: 100%;    
      }

      &--overlay
      {
        top:              0;
        left:             0;
        width:            100%;
        height:           100%;
        display:          flex;
        position:         absolute;
        text-align:       center;
        background-color: transparentize($red, .15);

        align-items:     center;
        justify-content: center;

        &--wrap
        {
          &--msg
          {
            max-width: 200px;
          }

          &--act
          {
            max-width: 150px;
          }
        }
      }
    }
  }

  &--meta
  {
    opacity:    0;
    visibility: hidden;

    -webkit-transform: translateY(30px);
            transform: translateY(30px);

    -webkit-transition-duration: .3s;
            transition-duration: .3s;

    -webkit-transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
            transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);


    &--date
    {
      float:       left;
      font-size:   14px;
      font-weight: 500;

      &--day
      {
        color:       $darkgrey;
        font-weight: 600; 
      }

      &--time
      {
        margin-left: 5px;
      }
    }

    &--acts
    {
      float:          right;

      a {
        font-size:   14px;
        font-weight: 500;
        line-height: 18px;
        margin-left: 10px;
      }

      .icon
      {
        top:            -1px;
        display:        inline-block;
        margin-right:   2px;
        vertical-align: middle;
      }
    }
  }

  &:hover,
  &.active
  {
    .post--meta
    {
      opacity:    1;
      visibility: visible;

      -webkit-transform: translateY(0);
              transform: translateY(0)
    }
  }
}


.post_form
{
  .drop
  {
    margin-bottom: 20px;
    position:      relative;

    &--wrap
    {
      overflow:      hidden;
      position:      relative;
      border-radius: 9px;

      &--tip
      {
        padding:    163px 0;
        text-align: center;
        background: $darkgrey;

        &--text
        {
          color:  #ffffff;
          width:  240px;
          margin: 0 auto 20px;
        }

        &--formats
        {
          font-size: 12px;
        }
      }

      &--post
      {
        display: none;

        img
        {
          width:  100%;
          height: auto;
        }
      }

      &--input
      {
        top:      0;
        left:     0;
        width:    100%;
        height:   100%;
        opacity:  0;
        position: absolute;
      }
    }
  }

  .post_form
  {
    &--form
    {
      &--inputs
      {
        &--caption
        {
          position: relative;

          &--input
          {
            resize:         none;
            overflow-y:     hidden;
            line-height:    28px;

            a { font-size: inherit; }
          }

          &--indicator
          {
            right:            7px;
            width:            16px;
            height:           16px;
            top:              6px;
            position:         absolute;


            &--ctx
            {
              width:     16px;
              height:    16px;
              transform: rotate(-90deg);

              circle
              {
                fill:         none;
                stroke-width: 2px;
              }

              &--underlay
              {
                stroke: #e9eaec;
              }

              &--content
              {
                stroke: $purple;
              }
            }
          }
        }

        &--tags
        {
          width:          100%;
          resize:         none;
          overflow-y:     hidden;
          line-height:    24px;
          padding-bottom: 10px;
        }


        &--date
        {
          height:     24px;
          padding:    10px 0;
          border-top: 1px dashed #e9eaec;

          &--wrap
          {
            &--date,
            &--time
            {
              line-height: 24px;
            }

            &--time
            {
              position: relative;

              span
              {
                padding-left: 15px;
              }

              &:before
              {
                left:             0;
                width:            1px;
                content:          "";
                position:         absolute;
                height:           24px;
                background-color: #e9eaec;
              }
            }
          }
        }
      }
    }
  }
}