.progress
{
  top:      0;
  left:     0;
  width:    100%;
  display:  none;
  z-index:  150;
  position: fixed;

  &--inner
  {
    height:              4px; 
    will-change:         width;
    background:          linear-gradient(90deg, $purple, $purple, #9DA4F4, $purple, $purple);
    background-size:     800% 100%;
    background-position: 0% 50%;

    -webkit-animation: loop 2s ease infinite;
       -moz-animation: loop 2s ease infinite;
            animation: loop 2s ease infinite;

    -webkit-transition: width 0.4s ease;
            transition: width 0.4s ease
  }

  &.error &--inner
  {
    background: $red;
  }
}


@-webkit-keyframes loop {
	0% {
		background-position: 0% 50%
	}
	100% {
		background-position: 100% 50%
	}
}

@-moz-keyframes loop {
	0% {
		background-position: 0% 50%
	}
	100% {
		background-position: 100% 50%
	}
}

@keyframes loop {
	0% {
		background-position: 0% 50%
	}
	100% {
		background-position: 100% 50%
	}
}
