.switcher
{
  position: relative;

  &--trigger
  {
    padding:          6px;
    display:          inline-block;
    border-radius:    6px;
    background-color: transparent;

    -webkit-transition: background-color .2s;
            transition: background-color .2s;

    &:hover,
    &.active
    {
      background-color: #f7f8f9;
    }

    .dropdown
    {
      margin: 1px 0;
    }
  }

  &--options
  {
    top:              0;
    left:             0;
    right:            0;
    opacity:          0;
    max-width:        350px;
    position:         absolute;
    box-shadow:       0 1px 6px 0 rgba(98,103,109,.3);
    border-radius:    6px;
    background-color: $white;

    -webkit-transition: opacity .1s ease;
            transition: opacity .1s ease;


    &.open
    {
      opacity: 1;
    }
  }


  &--add
  {
    .icon
    {
      margin: 4px;
    }
  }

  &--add,
  &--value
  {
    cursor:           pointer;
    user-select:      none;
    border-radius:    6px;
    background-color: transparent;

    -webkit-transition: background-color .1s;
            transition: background-color .1s;
    
    &:hover,
    &.active
    {
      background-color: #f7f8f9;
    }
  }

  &--value
  {
    &--options
    {
      opacity: 0;

      -webkit-transition: opacity .1s;
              transition: opacity .1s;
    }
    
    &:hover,
    &.active
    {
      .switcher--value--options
      {
        opacity: 1;
      }
    }
  }
}