.toasts
{
  top:            20px;
  left:           0;
  right:          0;
  z-index:        1000;
  position:       fixed;
  pointer-events: none;


  .toast
  {
    border-radius:  9px;
    pointer-events: all;

    &.info
    {
      .toast--message,
      .toast--content
      {
        color: $blue;
      }

      background-color: $blue_tint;
    }

    &.error
    {
      .toast--message,
      .toast--content
      {
        color: $red;
      }

      background-color: $red_tint;
    }

    &.success
    {
      .toast--message,
      .toast--content
      {
        color: $green;
      }

      background-color: $green_tint;
    }
  }
}