.center
{
  margin-left:  auto;
  margin-right: auto;

  &--vertical
  {
    top:               50%;
    position:          relative;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%)
  }
}

.width
{
  &--50  { width: 50%; }
  &--100 { width: 100%; }
}
.height
{
  &--50  { height: 50%; }
  &--100 { height: 100%; }
}


.margin
{
  $margin-sizes:
    xxxs  2px,
    xxs   5px,
    xs    10px,
    s     15px,
    m     20px,
    l     30px,
    xl    40px,
    xxl   50px,
    xxxl  100px,
    xxxxl 150px;


  @each $value in $margin-sizes {
    &--#{nth($value, 1)}
    {
      margin: #{nth($value, 2)};
    }
    &--top--#{nth($value, 1)}
    {
      margin-top: #{nth($value, 2)};
    }
    &--left--#{nth($value, 1)}
    {
      margin-left: #{nth($value, 2)};
    }
    &--right--#{nth($value, 1)}
    {
      margin-right: #{nth($value, 2)};
    }
    &--bottom--#{nth($value, 1)}
    {
      margin-bottom: #{nth($value, 2)};
    }
    &--leftRight--#{nth($value, 1)}
    {
      margin-left:  #{nth($value, 2)};
      margin-right: #{nth($value, 2)};
    }
    &--topBottom--#{nth($value, 1)}
    {
      margin-top:    #{nth($value, 2)};
      margin-bottom: #{nth($value, 2)};
    }
  }
}

.pad
{
  $pad-sizes:
    xxs   5px,
    xs    10px,
    s     15px,
    m     20px,
    l     30px,
    xl    40px,
    xxl   50px,
    xxxl  100px,
    xxxxl 150px;


  @each $value in $pad-sizes {
    &--#{nth($value, 1)}
    {
      padding: #{nth($value, 2)};
    }
    &--top--#{nth($value, 1)}
    {
      padding-top: #{nth($value, 2)};
    }
    &--left--#{nth($value, 1)}
    {
      padding-left: #{nth($value, 2)};
    }
    &--right--#{nth($value, 1)}
    {
      padding-right: #{nth($value, 2)};
    }
    &--bottom--#{nth($value, 1)}
    {
      padding-bottom: #{nth($value, 2)};
    }
    &--leftRight--#{nth($value, 1)}
    {
      padding-left:  #{nth($value, 2)};
      padding-right: #{nth($value, 2)};
    }
    &--topBottom--#{nth($value, 1)}
    {
      padding-top:    #{nth($value, 2)};
      padding-bottom: #{nth($value, 2)};
    }
  }
}

.border
{
  border: 1px solid #e0e6ed;

  &--none
  {
    border: 0;
  }

  $border-sides:
    top,
    left,
    right,
    bottom;

  $border-styles:
    solid,
    dashed;

  @each $side in $border-sides {
    &--#{$side}
    {
      border-#{$side}: 1px solid #e0e6ed;
    }
  }

  @each $color, $value in $colors {
    &--#{$color}
    {
      border-color: $value;
    }
  }

  @each $style in $border-styles {
    &--#{$style}
    {
      border-style: $style;
    }
  }
}
.borderRadius
{
  $radius-sizes:
    s    3px,
    m    6px,
    l    9px,
    full 50%;

  border-radius: 4px;

  @each $value in $radius-sizes {
    &--#{nth($value, 1)}
    {
      border-radius: #{nth($value, 2)};
    }
    &--top--#{nth($value, 1)}
    {
      border-radius: #{nth($value, 2)} #{nth($value, 2)} 0 0
    }
    &--left--#{nth($value, 1)}
    {
      padding-left: #{nth($value, 2)};
    }
    &--right--#{nth($value, 1)}
    {
      padding-right: #{nth($value, 2)};
    }
    &--bottom--#{nth($value, 1)}
    {
      border-radius: 0 0 #{nth($value, 2)} #{nth($value, 2)}
    }
    &--leftRight--#{nth($value, 1)}
    {
    }
    &--topBottom--#{nth($value, 1)}
    {
    }
  }
}


.left
{
  float:left;
}
.right
{
  float:right;
}


.inline
{
  display:         flex;
  flex-direction:  row;
  justify-content: space-between;

  & > div
  {
    flex-shrink: 0;
  }

  &--flex
  {
    flex: 1; 
  }

  &--grow
  {
    flex-grow: 1; 
  }
}

.vertical_align
{
  &--t
  {
    vertical-align: top;  
  }
  &--m
  {
    vertical-align: middle;
  }
  &--b
  {
    vertical-align: bottom;
  }
}



.block
{
  display: block;
}

.iblock
{
  display: inline-block;
}

.relative
{
  position: relative;
}
.absolute
{
  position: absolute;

  &--top,
  &--bottom
  {
    left:     0;
    position: absolute;
  }

  &--top
  {
    top: 0;
  }

  &--bottom
  {
    bottom: 0;
  }
}

.zindex
{
  $radius-sizes:
    0,
    1,
    50,
    100;

  @each $level in $radius-sizes {
    &--#{$level}
    {
      z-index: $level;
    }
  }
}

.shadow
{
  box-shadow: 0 5px 5px rgba(0, 0, 0, .1), 0 -2px 5px rgba(0, 0, 0, .05);
}
