<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

  <head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width">
    <meta name="format-detection" content="telephone=no">

    <style type="text/css">
      body {
        font-family: -apple-system, BlinkMacSystemFont, ‘Segoe UI’, Roboto, Helvetica, Arial, sans-serif, ‘Apple Color Emoji’, ‘Segoe UI Emoji’, ‘Segoe UI Symbol’;
        background: #ffffff;
      }

      .main {
        background-color: #ffffff;
        padding: 70px 80px 55px;
        margin: 0 auto 40px;
        max-width: 540px;
      }

      .content {
        position: relative;
        padding: 70px 32px 42px;
        margin-bottom: 40px;
      }

      img {
        max-width: 100%;
      }

      img.icon {
        height: 18px;
        width: 18px;
        max-width: initial;
        padding-right: 16px;
      }

      h1 {
        font-size: 21px;
        font-weight: 500;
        line-height: 1.33;
        margin-bottom: 16px;
        color: #000;
      }

      h2 {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.56;
        margin: 0 0 4px;
        color: #000;
      }

      h3 {
        font-size: 16px;
        font-weight: normal;
        line-height: 1.5;
        color: #9aa1aa;
        margin-bottom: 20px;
      }

      strong {
        font-size: 18px;
        color: #000;
      }

      .main-description {
        font-size: 18px;
        line-height: 1.56;
        color: #000;
        margin-bottom: 24px;
      }

      .main-description>a {
        display: inline;
      }

      p {
        font-size: 16px;
        line-height: 1.63;
        color: #62676d;
        margin: 0 0 4px;
      }

      a {
        display: block;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.56;
        color: #295be6;
        text-decoration: none;
        font-family: inherit;
      }

      a.first-link {
        margin-bottom: 32px;
      }

      tr {
        display: block;
      }

      tr:last-of-type {
        margin-bottom: 42px;
      }

      td {
        vertical-align: middle;
      }

      .centre {
        text-align: center;
      }

      .quote {
        margin: 0;
        margin-bottom: 34px;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.56;
        color: #3d4045;
      }

      .btn {
        max-width: 100%;
        border-radius: 6px;
        border: solid 2px #295be6;
        padding: 10px;
        margin-bottom: 40px;
      }

      .caption {
        vertical-align: middle;
        display: inline-block;
      }

      .name {
        font-size: 16px;
        font-weight: 500;
        color: #3d4045;
        margin: 0;
        margin-bottom: 2px;
        line-height: 1;
      }

      .role {
        font-size: 14px;
        color: #62676d;
        margin: 0;
        line-height: 1;
      }

      .receipt {
        color:            #4c555e;
        padding:          10px 20px;
        margin-top:       30px;
        border-radius:    9px;
        background-color: #f5f6f7;
      }
      
      .receipt table
      {
        width: 100%;
      }
      
      .receipt tr
      {
        display: table-row;
      }
      
      .receipt td
      {
        padding: 10px 0; 
      }
      
      .receipt .total td
      {
        border-top: 2px solid #dbdfe2;
      }
      

      .instagram {
        font-size: 16px;
        font-weight: 500;
        color: #e1306c;
        display: inline-block;
      }

      .unsubscribe {
        display: table-cell;
        text-align: right;
        font-size: 13px;
        line-height: 1;
        color: #9aa1aa;
        text-decoration: underline;
      }

      #footer {
        width: 100%;
        text-align: center;
      }

    </style>

    <style type="text/css">
      @media screen and (max-width: 595px) {
        .main {
          padding: 70px 24px 55px !important;
        }
        #test {
          padding: 0px 24px !important;
        }
        #footer {
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          height: 57px;
        }
      }

    </style>
  </head>

  <body style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';background: #ffffff;" bgcolor="#ffffff">
    <div id="main" class="main">
      <div class="content">
        <h1>Here is your receipt!</h1>
        <p class="main-description">
          The credit card ending in {{last4}} has been successfully charged <span style="font-weight: 500">{{amount_total}}</span> for the current subscription period.
          {{#if wasLocked}}
          <br>
          We've also unlocked your workspace, no further action is required on your end.
          {{/if}}
          <br><br>
          Cheers,
          <br>
          The Resquire team
        </p>

        <div class="receipt" bgcolor="#f5f6f7">
          <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
            <tr>
              <td>
                <p>Resquire {{plan}} plan</p>
              </td>
              <td style="text-align: right;">
                <p>{{amount}}</p>
              </td>
            </tr>
            {{#if amount_tax}}
              <tr>
                <td>
                  <p>Tax ({{tax_percentage}} {{tax_origin}})</p>
                </td>
                <td style="text-align: right;">
                  <p>{{amount_tax}}</p>
                </td>
              </tr>
            {{/if}}
            <tr class="total">
              <td>
                <p style="font-weight: 600;">Amount paid</p>
              </td>
              <td style="text-align: right;">
                <p style="font-weight: 600;">{{amount_total}}</p>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div id="footer">
        <a class="instagram" href="https://instagram.com/resquireapp" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';color: #e1306c;">Follow @resquireapp on instagram</a>
      </div>
    </div>
  </body>

</html>
