<% page_title('Resquire') %>
<!DOCTYPE hmtl>
<!--

  Un projet par Laviréo

-->
<html>
<head>

  <!-- Title -->
  <title><%= page_title %></title>
 
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Conf -->
  <%= csrf_meta_tag %>
  <meta name="stripe-token" content="<%= Settings.integrations.stripe.public_key %>">

  <!-- Css -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700">
  <link rel="stylesheet" type="text/css" href="/static/css/master.css"/> 

  <!-- Js -->
  <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
  <% if current_user %>
    <script type="application/json" id="preload"><%= UserSerializer.new(current_user).to_json %></script>
  <% end %>
 
</head>
<body>

  <!-- Wrap -->
  <div id="wrap">
    <%= yield %>
  </div>

  <!-- Boot -->
  <script type="text/javascript" src="/static/js/app.js"></script>

</body>
</html>
