@charset "UTF-8";
html,
Body,
button,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
small,
ol,
ul,
li,
hr,
form,
label,
article,
canvas,
footer,
header,
head,
section,
audio,
video,
input,
textarea,
dt,
dd {
  margin: 0;
  border: 0;
  padding: 0;
  color: #737f8d;
  font-size: 14px; }

div,
section,
article,
head,
ul,
li,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

pre, code {
  tab-size: 2;
  font-family: 'mononoki', "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace; }

b {
  color: #b5bdc1; }

li {
  list-style: none; }

input, textarea, button, a, div[contenteditable] {
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

video, img {
  vertical-align: middle; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  overflow-x: hidden;
  background: #ffffff;
  font-family: -apple-system, "Source Sans Pro", roboto, Helvetica Neue, Helvetica, Arial, sans-serif; }

#wrap {
  overflow: hidden; }

.cf:after,
.cf:before {
  content: '';
  display: table; }

.cf:after {
  clear: both; }

.hidden {
  display: none; }

.drop {
  margin-bottom: 20px; }

.tiny_drop {
  margin-bottom: 10px; }

.box {
  display: block;
  position: relative;
  border-radius: 5px;
  border: 1px solid #e9eaec; }

/* -------------------------------------------------------------------------- */
/* - Laviréo -> Grid -------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.col--1 {
  float: left;
  width: 8.333%; }

.col--2 {
  float: left;
  width: 16.666%; }

.col--3 {
  float: left;
  width: 25%; }

.col--4 {
  float: left;
  width: 33.333%; }

.col--6 {
  float: left;
  width: 50%; }

.col--8 {
  float: left;
  width: 66.666%; }

@media (max-width: 480px) {
  .col--3 {
    width: 100%; } }

.notice {
  width: 100%;
  height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  background-color: #6772e5;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }
  .notice .wrapped {
    padding-top: 20px;
    padding-bottom: 20px; }
  .notice--body {
    color: #fff;
    float: left;
    width: 80%; }
    .notice--body a {
      color: inherit;
      font-size: inherit;
      text-decoration: underline; }
  .notice--button {
    width: 20%;
    float: right; }
  .notice.active {
    opacity: 1;
    visibility: visible; }

.c--red {
  color: #e8686d; }

.bg--red {
  background-color: #e8686d; }

.bg--red--active:active, .bg--red--active.active {
  background-color: #e8686d; }

.fill--red {
  fill: #e8686d; }

.c--purple {
  color: #6772e5; }

.bg--purple {
  background-color: #6772e5; }

.bg--purple--active:active, .bg--purple--active.active {
  background-color: #6772e5; }

.fill--purple {
  fill: #6772e5; }

.c--yellow {
  color: #F8B700; }

.bg--yellow {
  background-color: #F8B700; }

.bg--yellow--active:active, .bg--yellow--active.active {
  background-color: #F8B700; }

.fill--yellow {
  fill: #F8B700; }

.c--orange {
  color: #ff7849; }

.bg--orange {
  background-color: #ff7849; }

.bg--orange--active:active, .bg--orange--active.active {
  background-color: #ff7849; }

.fill--orange {
  fill: #ff7849; }

.c--green {
  color: #13B57D; }

.bg--green {
  background-color: #13B57D; }

.bg--green--active:active, .bg--green--active.active {
  background-color: #13B57D; }

.fill--green {
  fill: #13B57D; }

.c--white {
  color: #ffffff; }

.bg--white {
  background-color: #ffffff; }

.bg--white--active:active, .bg--white--active.active {
  background-color: #ffffff; }

.fill--white {
  fill: #ffffff; }

.c--darkgrey {
  color: #4f545c; }

.bg--darkgrey {
  background-color: #4f545c; }

.bg--darkgrey--active:active, .bg--darkgrey--active.active {
  background-color: #4f545c; }

.fill--darkgrey {
  fill: #4f545c; }

.c--grey {
  color: #828a99; }

.bg--grey {
  background-color: #828a99; }

.bg--grey--active:active, .bg--grey--active.active {
  background-color: #828a99; }

.fill--grey {
  fill: #828a99; }

.c--lightgrey {
  color: #babec8; }

.bg--lightgrey {
  background-color: #babec8; }

.bg--lightgrey--active:active, .bg--lightgrey--active.active {
  background-color: #babec8; }

.fill--lightgrey {
  fill: #babec8; }

.c--dark {
  color: #2e3136; }

.bg--dark {
  background-color: #2e3136; }

.bg--dark--active:active, .bg--dark--active.active {
  background-color: #2e3136; }

.fill--dark {
  fill: #2e3136; }

.wrap--xxs {
  max-width: 300px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto; }

.wrap--xs {
  max-width: 400px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto; }

.wrap--s {
  max-width: 500px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto; }

.wrap--m {
  max-width: 700px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto; }

.wrap--l {
  max-width: 800px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto; }

.wrap--xl {
  max-width: 960px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto; }

.center {
  margin-left: auto;
  margin-right: auto; }
  .center--vertical {
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

.width--50 {
  width: 50%; }

.width--100 {
  width: 100%; }

.height--50 {
  height: 50%; }

.height--100 {
  height: 100%; }

.margin--xxs {
  margin: 5px; }

.margin--xs {
  margin: 10px; }

.margin--s {
  margin: 15px; }

.margin--m {
  margin: 20px; }

.margin--l {
  margin: 30px; }

.margin--xl {
  margin: 40px; }

.margin--xxl {
  margin: 50px; }

.margin--xxxl {
  margin: 100px; }

.margin--top--xxs {
  margin-top: 5px; }

.margin--top--xs {
  margin-top: 10px; }

.margin--top--s {
  margin-top: 15px; }

.margin--top--m {
  margin-top: 20px; }

.margin--top--l {
  margin-top: 30px; }

.margin--top--xl {
  margin-top: 40px; }

.margin--top--xxl {
  margin-top: 50px; }

.margin--top--xxxl {
  margin-top: 100px; }

.margin--left--xxs {
  margin-left: 5px; }

.margin--left--xs {
  margin-left: 10px; }

.margin--left--s {
  margin-left: 15px; }

.margin--left--m {
  margin-left: 20px; }

.margin--left--l {
  margin-left: 30px; }

.margin--left--xl {
  margin-left: 40px; }

.margin--left--xxl {
  margin-left: 50px; }

.margin--left--xxxl {
  margin-left: 100px; }

.margin--right--xxs {
  margin-right: 5px; }

.margin--right--xs {
  margin-right: 10px; }

.margin--right--s {
  margin-right: 15px; }

.margin--right--m {
  margin-right: 20px; }

.margin--right--l {
  margin-right: 30px; }

.margin--right--xl {
  margin-right: 40px; }

.margin--right--xxl {
  margin-right: 50px; }

.margin--right--xxxl {
  margin-right: 100px; }

.margin--bottom--xxs {
  margin-bottom: 5px; }

.margin--bottom--xs {
  margin-bottom: 10px; }

.margin--bottom--s {
  margin-bottom: 15px; }

.margin--bottom--m {
  margin-bottom: 20px; }

.margin--bottom--l {
  margin-bottom: 30px; }

.margin--bottom--xl {
  margin-bottom: 40px; }

.margin--bottom--xxl {
  margin-bottom: 50px; }

.margin--bottom--xxxl {
  margin-bottom: 100px; }

.pad--xxs {
  padding: 5px; }

.pad--xs {
  padding: 10px; }

.pad--s {
  padding: 15px; }

.pad--m {
  padding: 20px; }

.pad--l {
  padding: 30px; }

.pad--xl {
  padding: 40px; }

.pad--xxl {
  padding: 50px; }

.pad--xxxl {
  padding: 100px; }

.pad--top--xxs {
  padding-top: 5px; }

.pad--top--xs {
  padding-top: 10px; }

.pad--top--s {
  padding-top: 15px; }

.pad--top--m {
  padding-top: 20px; }

.pad--top--l {
  padding-top: 30px; }

.pad--top--xl {
  padding-top: 40px; }

.pad--top--xxl {
  padding-top: 50px; }

.pad--top--xxxl {
  padding-top: 100px; }

.pad--left--xxs {
  padding-left: 5px; }

.pad--left--xs {
  padding-left: 10px; }

.pad--left--s {
  padding-left: 15px; }

.pad--left--m {
  padding-left: 20px; }

.pad--left--l {
  padding-left: 30px; }

.pad--left--xl {
  padding-left: 40px; }

.pad--left--xxl {
  padding-left: 50px; }

.pad--left--xxxl {
  padding-left: 100px; }

.pad--right--xxs {
  padding-right: 5px; }

.pad--right--xs {
  padding-right: 10px; }

.pad--right--s {
  padding-right: 15px; }

.pad--right--m {
  padding-right: 20px; }

.pad--right--l {
  padding-right: 30px; }

.pad--right--xl {
  padding-right: 40px; }

.pad--right--xxl {
  padding-right: 50px; }

.pad--right--xxxl {
  padding-right: 100px; }

.pad--bottom--xxs {
  padding-bottom: 5px; }

.pad--bottom--xs {
  padding-bottom: 10px; }

.pad--bottom--s {
  padding-bottom: 15px; }

.pad--bottom--m {
  padding-bottom: 20px; }

.pad--bottom--l {
  padding-bottom: 30px; }

.pad--bottom--xl {
  padding-bottom: 40px; }

.pad--bottom--xxl {
  padding-bottom: 50px; }

.pad--bottom--xxxl {
  padding-bottom: 100px; }

.border {
  border: 1px solid #e0e6ed;
  border-radius: 3px; }
  .border--none {
    border: 0; }
  .border--top {
    border-top: 1px solid #e0e6ed; }
  .border--left {
    border-left: 1px solid #e0e6ed; }
  .border--right {
    border-right: 1px solid #e0e6ed; }
  .border--bottom {
    border-bottom: 1px solid #e0e6ed; }
  .border--red {
    border-color: #e8686d; }
  .border--purple {
    border-color: #6772e5; }
  .border--yellow {
    border-color: #F8B700; }
  .border--orange {
    border-color: #ff7849; }
  .border--green {
    border-color: #13B57D; }
  .border--white {
    border-color: #ffffff; }
  .border--darkgrey {
    border-color: #4f545c; }
  .border--grey {
    border-color: #828a99; }
  .border--lightgrey {
    border-color: #babec8; }
  .border--dark {
    border-color: #2e3136; }

.border_radius {
  border-radius: 4px; }
  .border_radius--top {
    border-radius: 4px 4px 0 0; }
  .border_radius--bottom {
    border-radius: 0 0 4px 4px; }

.left {
  float: left; }

.right {
  float: right; }

.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .inline > div {
    flex-shrink: 0; }
  .inline--flex {
    flex: 1; }
  .inline--grow {
    flex-grow: 1; }

.vertical_align--t {
  vertical-align: top; }

.vertical_align--m {
  vertical-align: middle; }

.vertical_align--b {
  vertical-align: bottom; }

.block {
  display: block; }

.iblock {
  display: inline-block; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .flex--center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

h1 {
  margin: 0;
  color: #2e3136;
  font-size: 36px;
  font-weight: 300;
  line-height: 44px;
  letter-spacing: 0.05em; }

h2 {
  margin: 0;
  color: #2e3136;
  font-size: 26px;
  font-weight: 400;
  line-height: 34px; }

h3 {
  margin: 0;
  color: #2e3136;
  font-size: 18px;
  font-weight: 500; }

h4 {
  margin: 0;
  color: #BBBBBB;
  font-size: 14px;
  font-weight: 400; }

a {
  color: #737f8d;
  text-decoration: none; }

p {
  color: #737f8d;
  font-size: 15px;
  line-height: 18px; }

.textAlign--l {
  text-align: left; }

.textAlign--m {
  text-align: center; }

.textAlign--r {
  text-align: right; }

.font_size--xs {
  font-size: 12px;
  font-weight: 500;
  line-height: 22px; }

.font_size--s {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px; }

.font_size--m {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; }

.font_size--l {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px; }

.font_size--xl {
  font-size: 20px;
  font-weight: 400;
  line-height: 34px; }

.font_size--xxl {
  font-size: 26px;
  font-weight: 400;
  line-height: 38px; }

.font_size--xxxl {
  font-size: 38px;
  line-height: 46px;
  letter-spacing: -1px; }

.font_size--xxxxl {
  font-size: 65px;
  line-height: 70px;
  font-weight: 500;
  letter-spacing: -1px; }

.font_size--xxxxxl {
  font-size: 77px;
  line-height: 110px;
  font-weight: 700;
  letter-spacing: -1.5px; }

.font_weight--400 {
  font-weight: 400; }

.font_weight--500 {
  font-weight: 500; }

.font_weight--600 {
  font-weight: 600; }

.font_weight--700 {
  font-weight: 700; }

.font_weight--800 {
  font-weight: 800; }

/* -------------------------------------------------------------------------- */
/* - Laviréo -> Icons ------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.icon {
  width: 22px;
  height: 22px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background: url(../img/ui.svg); }
  .icon.at {
    background-position: -66px -44px; }
  .icon.add {
    background-position: -66px 0px; }
  .icon.mail {
    background-position: -44px -44px; }
  .icon.lock {
    background-position: -44px -66px; }
  .icon.scroll {
    left: 0;
    right: 0;
    bottom: 80px;
    margin: 0 auto;
    position: absolute;
    -webkit-animation: 1s jump infinite;
    -moz-animation: 1s jump infinite;
    animation: 1s jump infinite;
    background-position: -66px -66px; }
  .icon.person {
    background-position: -44px -22px; }
  .icon.hashtag {
    background-position: -66px -22px; }
  .icon.back {
    background-position: -22px -66px; }
  .icon.close {
    background-position: 0px -66px; }
  .icon.encryption {
    background-position: -154px -132px; }
  .icon.cancel {
    background-position: -44px 0px; }
  .icon.publish {
    background-position: -22px -22px; }
  .icon.safe {
    width: 42px;
    height: 38px;
    background-position: -1px -110px; }
  .icon.time {
    width: 34px;
    height: 38px;
    background-position: -5px -148px; }
  .icon.simple {
    width: 35px;
    height: 38px;
    background-position: -48px -148px; }
  .icon.devices {
    width: 44px;
    height: 38px;
    background-position: -44px -110px; }
  .icon.thumb_up {
    width: 10px;
    height: 17px;
    background-position: -116px -180px; }
  .icon.thumb_down {
    width: 10px;
    height: 17px;
    background-position: -138px -180px; }

@-webkit-keyframes jump {
  0% {
    transform: translateY(0); }
  90% {
    transform: translateY(15px); } }

@-moz-keyframes jump {
  0% {
    transform: translateY(0); }
  90% {
    transform: translateY(15px); } }

@keyframes jump {
  0% {
    transform: translateY(0); }
  90% {
    transform: translateY(15px); } }

/* -------------------------------------------------------------------------- */
/* - Laviréo -> Input ------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.input {
  width: 100%;
  height: 40px;
  font-size: 15px;
  font-weight: 500;
  box-sizing: border-box;
  border: 1px solid #e0e6ed;
  border-radius: 4px;
  vertical-align: middle;
  background-color: #fff; }
  .input:focus {
    border-color: #90b3f8; }
  .input.disabled, .input:disabled {
    color: #5b6573;
    cursor: default;
    border: 1px solid #e0e6ed;
    pointer-events: none;
    background-color: #f9fafc; }
  .input--m {
    padding: 0 14px; }
  .input--l {
    height: 46px;
    padding: 0 16px; }
  .input--xl {
    height: 50px;
    padding: 0 16px; }
  .input--icon {
    position: relative; }
    .input--icon .icon {
      top: 0;
      left: 0;
      position: absolute;
      pointer-events: none; }
    .input--icon--m .icon {
      margin-top: 18px;
      margin-left: 18px; }
    .input--icon--m .input,
    .input--icon--m .textarea {
      padding-left: 38px; }
    .input--icon--l .icon {
      margin-top: 13px;
      margin-left: 13px; }
    .input--icon--l .input,
    .input--icon--l .textarea {
      padding-left: 44px; }
    .input--icon--xl .icon {
      margin-top: 14px;
      margin-left: 14px; }
    .input--icon--xl .input,
    .input--icon--xl .textarea {
      padding-left: 48px; }
  .input--group {
    font-size: 0;
    display: flex;
    box-sizing: border-box; }
    .input--group--ctx {
      flex: 0;
      color: #8492a6;
      padding: 0 14px;
      box-sizing: border-box;
      border: 1px solid #e0e6ed;
      border-left: 0;
      font-size: 15px;
      font-weight: 500;
      line-height: 40px;
      border-radius: 3px; }
    .input--group--l .input--group--ctx {
      padding: 0 16px;
      line-height: 44px; }
    .input--group--xl .input--group--ctx {
      padding: 0 16px;
      line-height: 48px; }
    .input--group div {
      flex: 0; }
    .input--group--grow {
      flex: 1 !important; }
    .input--group div:last-child .input--group--ctx {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    .input--group div:first-child .input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }

.switch {
  width: 34px;
  height: 20px;
  cursor: pointer;
  display: block;
  position: relative; }
  .switch--input {
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute; }
  .switch--track {
    width: 34px;
    height: 20px;
    display: block;
    border-radius: 10px;
    background: #e0e6ed;
    transition: background-color .1s ease; }
    .switch--track--indicator {
      top: 3px;
      left: 3px;
      right: 17px;
      bottom: 3px;
      width: 14px;
      height: 14px;
      display: block;
      border-radius: 7px;
      position: absolute;
      background: #ffffff;
      transition: left .1s ease-in-out, right .1s ease-in-out; }
  .switch--input:checked ~ .switch--track {
    background: #6772e5; }
    .switch--input:checked ~ .switch--track .switch--track--indicator {
      left: 17px;
      right: 3px; }

textarea {
  resize: none; }

.textarea {
  width: 100%;
  min-height: 40px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  box-sizing: border-box;
  border: 1px solid #e0e6ed;
  border-radius: 3px;
  vertical-align: middle;
  background-color: #fff; }
  .textarea:focus {
    border-color: #90b3f8; }
  .textarea.disabled, .textarea:disabled {
    color: #5b6573;
    cursor: default;
    border: 1px solid #e0e6ed;
    pointer-events: none;
    background-color: #f9fafc; }
  .textarea--m {
    padding: 10px 14px; }
  .textarea--l {
    min-height: 68px;
    padding: 12px 16px; }
  .textarea--xl {
    min-height: 50px;
    padding: 14px 16px; }

/* -------------------------------------------------------------------------- */
/* - Flavour ---------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
video {
  width: 100%;
  height: auto;
  vertical-align: middle; }

.player {
  position: relative;
  overflow: hidden; }

.player--media {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  background: #000000;
  border-radius: 3px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.player--media--video {
  flex: 1;
  max-width: 100%;
  max-height: 100%; }

.player--media--target {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  position: absolute; }

/* ---------------------------------------------------------------- */
/* - Flavour -> Control ------------------------------------------- */
/* ---------------------------------------------------------------- */
.player--control {
  z-index: 2;
  left: 10px;
  right: 10px;
  height: 40px;
  bottom: 10px;
  margin: 0 auto;
  max-width: 960px;
  border-radius: 2px;
  position: absolute;
  background: #343d45; }

.player--control--main {
  display: table-cell;
  vertical-align: bottom; }

.player--control--main > .playpause {
  width: 16px;
  height: 16px;
  display: block;
  cursor: pointer;
  margin: 12px 0 12px 15px;
  background: url(../img/player.svg) -22px -12px no-repeat; }

.player--control--main.playing > .playpause {
  background-position-x: -82px; }

.player--control--progress {
  width: 100%;
  display: table-cell;
  vertical-align: bottom; }

.player--control--progress--wrap {
  height: 6px;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  margin: 17px 20px;
  font-weight: bold;
  line-height: 14px;
  position: relative;
  border-radius: 3px;
  background: #22282d; }

.player--control--progress--wrap div {
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 3px;
  position: absolute;
  -webkit-transition: width .1s;
  -moz-transition: width .1s;
  -o-transition: width .1s;
  transition: width .1s; }

.player--control--progress--wrap.no_animate div {
  -webkit-transition: width 0;
  -moz-transition: width 0;
  -o-transition: width 0;
  transition: width 0; }

.player--control--progress--wrap--time {
  background: #28AAE1; }

.player--control--progress--wrap--buffer {
  background: #455361; }

.player--control--options {
  height: 16px;
  padding: 12px 0;
  min-width: 57px;
  display: table-cell;
  vertical-align: bottom; }

.player--control--options > .fbutton {
  float: left;
  opacity: .5;
  cursor: pointer;
  margin-right: 10px;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -o-otransition: opacity .2s;
  transition: opacity .2s; }

.player--control--options > .fbutton:hover,
.player--control--options > .fbutton.active {
  opacity: 1; }

.player--control--options > .fbutton:last-child {
  margin-right: 15px; }

.player--control--options--volume {
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background: #989da2;
  background: no-repeat url(../img/player.svg) -80px -40px; }

.player--control--options--volume.muted {
  background-position-x: -96px; }

.player--control--options--fullscreen {
  width: 16px;
  height: 16px;
  background: no-repeat url(../img/player.svg) -48px -40px; }

.player--control--options--fullscreen.zoomed {
  background-position-x: -64px; }

.player > .player--overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: none;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  background: rgba(49, 59, 69, 0.95); }

.player.fullscreen {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  position: relative; }

body.modal_open {
  overflow: hidden;
  position: relative; }

/* -------------------------------------------------------------------------- */
/* - Laviréo -> Modals ------------------------------------------------------ */
/* -------------------------------------------------------------------------- */
.modals {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
  opacity: 0;
  position: fixed;
  overflow-y: auto;
  transition: opacity .2s;
  background-color: #ffffff; }
  .modals.active {
    opacity: 1; }
  .modals--wrapper {
    width: 100%;
    display: flex;
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center; }
    .modals--wrapper--acts {
      z-index: 2; }
      .modals--wrapper--acts--back, .modals--wrapper--acts--close {
        width: 22px;
        height: 22px;
        cursor: pointer;
        padding: 9px;
        position: absolute;
        border-radius: 50%;
        background-color: #e5e9f2; }
      .modals--wrapper--acts--back {
        top: 30px;
        left: 40px; }
      .modals--wrapper--acts--close {
        top: 30px;
        right: 40px; }
    .modals--wrapper--float {
      z-index: 1;
      width: 100%; }

.modal {
  margin: 0 auto;
  opacity: 0;
  position: relative;
  padding: 50px 20px;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s cubic-bezier(0.12, 0.4, 0.29, 1);
  -moz-transition: opacity 0.2s, -moz-transform 0.3s cubic-bezier(0.12, 0.4, 0.29, 1);
  -o-transition: opacity 0.2s, -o-transform 0.3s cubic-bezier(0.12, 0.4, 0.29, 1);
  transition: opacity 0.2s, transform 0.3s cubic-bezier(0.12, 0.4, 0.29, 1);
  -webkit-transform: translate(0, -200px);
  -moz-transform: translate(0, -200px);
  -ms-transform: translate(0, -200px);
  transform: translate(0, -200px); }
  .modal--xxs {
    max-width: 350px; }
  .modal--xs {
    max-width: 400px; }
  .modal--s {
    max-width: 500px; }
  .modal--m {
    max-width: 700px; }
  .modal--l {
    max-width: 800px; }
  .modal--xl {
    max-width: 960px; }
  .modal.active {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }

.modal.dialog {
  text-align: center; }

.modal.dialog .dialog--text {
  color: #4f545c;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px; }

.modal.dialog .dialog--buttons {
  height: 44px;
  margin-top: 32px; }

.modal.dialog .dialog--buttons > .btn {
  margin: 0 5px;
  min-width: 140px; }

.modal.post_form .drop {
  margin-bottom: 20px;
  position: relative; }
  .modal.post_form .drop--wrap {
    overflow: hidden;
    position: relative;
    border-radius: 3px; }
    .modal.post_form .drop--wrap--tip {
      padding: 163px 0;
      text-align: center;
      background: #4f545c; }
      .modal.post_form .drop--wrap--tip--text {
        color: #ffffff;
        width: 240px;
        margin: 0 auto 20px; }
      .modal.post_form .drop--wrap--tip--formats {
        font-size: 12px; }
    .modal.post_form .drop--wrap--post {
      display: none; }
      .modal.post_form .drop--wrap--post img {
        width: 100%;
        height: auto; }
    .modal.post_form .drop--wrap--input {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute; }

.modal.post_form .post_form--form--inputs--caption {
  position: relative; }
  .modal.post_form .post_form--form--inputs--caption--input {
    resize: none;
    font-size: 20px;
    overflow-y: hidden;
    line-height: 28px; }
    .modal.post_form .post_form--form--inputs--caption--input a {
      font-size: 20px; }
  .modal.post_form .post_form--form--inputs--caption--indicator {
    right: 7px;
    width: 16px;
    height: 16px;
    top: 6px;
    position: absolute; }
    .modal.post_form .post_form--form--inputs--caption--indicator--ctx {
      width: 16px;
      height: 16px;
      transform: rotate(-90deg); }
      .modal.post_form .post_form--form--inputs--caption--indicator--ctx circle {
        fill: none;
        stroke-width: 2px; }
      .modal.post_form .post_form--form--inputs--caption--indicator--ctx--underlay {
        stroke: #e9eaec; }
      .modal.post_form .post_form--form--inputs--caption--indicator--ctx--content {
        stroke: #6772e5; }

.modal.post_form .post_form--form--inputs--tags {
  width: 100%;
  resize: none;
  overflow-y: hidden;
  line-height: 24px;
  padding-bottom: 10px; }

.modal.post_form .post_form--form--inputs--date {
  height: 24px;
  padding: 10px 0;
  border-top: 1px dashed #e9eaec; }
  .modal.post_form .post_form--form--inputs--date--wrap--date, .modal.post_form .post_form--form--inputs--date--wrap--time {
    line-height: 24px; }
  .modal.post_form .post_form--form--inputs--date--wrap--time {
    position: relative; }
    .modal.post_form .post_form--form--inputs--date--wrap--time span {
      padding-left: 15px; }
    .modal.post_form .post_form--form--inputs--date--wrap--time:before {
      left: 0;
      width: 1px;
      content: "";
      position: absolute;
      height: 24px;
      background-color: #e9eaec; }

.upgrade--plans .plan--wrap {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 180px;
  text-align: center; }
  .upgrade--plans .plan--wrap--meta {
    padding: 60px 0 40px;
    text-align: left; }
    .upgrade--plans .plan--wrap--meta .plan--item {
      color: #4f545c;
      padding: 5px 0;
      position: relative;
      font-size: 18px;
      line-height: 22px; }
      .upgrade--plans .plan--wrap--meta .plan--item--val {
        left: 0;
        width: 22px;
        height: 22px;
        position: absolute; }
        .upgrade--plans .plan--wrap--meta .plan--item--val:before {
          width: 22px;
          height: 22px;
          margin: 0;
          content: '';
          display: block;
          background: url(../img/ui.svg);
          border-radius: 50%;
          background-position: 0 -44px; }
      .upgrade--plans .plan--wrap--meta .plan--item.false {
        color: #babec8; }
        .upgrade--plans .plan--wrap--meta .plan--item.false .plan--item--val {
          display: none; }
      .upgrade--plans .plan--wrap--meta .plan--item--title {
        padding-left: 30px; }

/* -------------------------------------------------------------------------- */
/* - Laviréo -> Button ------------------------------------------------------ */
/* -------------------------------------------------------------------------- */
.btn {
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  padding: 0 20px;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  font-weight: 600;
  border-radius: 4px;
  vertical-align: middle;
  text-decoration: none; }
  .btn.symbol {
    padding: 7px;
    border-radius: 50%; }
  .btn.full {
    width: 100%; }
  .btn.dark {
    background: #47536B; }
  .btn.dark:active {
    background: #394559; }
  .btn.white {
    color: #47536B;
    background: #ffffff; }
  .btn.white:active {
    background: #f1f5f9; }
  .btn.primary {
    background: #6772e5; }
  .btn.primary:active {
    background: #5d67d0; }
  .btn.clear {
    background: #e5e9f2;
    color: #797C87; }
  .btn.clear:active {
    background: #D5D9E2; }
  .btn.loading, .btn.disabled, .btn:disabled {
    color: #8492a6;
    cursor: default;
    pointer-events: none;
    background-color: #f9fafc; }
  .btn.loading {
    position: relative;
    padding-left: 40px; }
    .btn.loading:after {
      top: 13px;
      left: 13px;
      width: 14px;
      height: 14px;
      margin: 0;
      content: "";
      display: block;
      position: absolute;
      box-sizing: border-box;
      border-width: 2px;
      border-color: #8492a6;
      border-style: solid;
      border-radius: 50%;
      border-right-color: transparent;
      -webkit-transform: translate(0);
      transform: translate(0);
      -webkit-animation: spin .8s infinite linear;
      animation: spin .8s infinite linear; }
  .btn--s {
    height: 34px;
    padding: 0 16px;
    line-height: 32px; }
    .btn--s.lone {
      width: 34px;
      padding: 6px; }
    .btn--s.btn--icon {
      padding-left: 32px; }
      .btn--s.btn--icon .icon {
        left: 8px; }
  .btn--m {
    height: 40px;
    padding: 0 23px;
    line-height: 38px; }
    .btn--m.lone {
      width: 40px;
      padding: 9px; }
    .btn--m.btn--icon {
      padding-left: 38px; }
      .btn--m.btn--icon .icon {
        left: 15px; }
  .btn--l {
    height: 46px;
    padding: 0 30px;
    font-size: 15px;
    line-height: 44px; }
    .btn--l.lone {
      width: 46px;
      padding: 12px; }
    .btn--l.btn--icon {
      padding-left: 46px; }
      .btn--l.btn--icon .icon {
        left: 22px; }
    .btn--l.loading {
      padding-left: 60px; }
      .btn--l.loading:after {
        top: 15px;
        left: 15px; }
  .btn--xl {
    height: 50px;
    padding: 0 30px;
    font-size: 15px;
    line-height: 48px; }
  .btn--icon {
    position: relative; }
    .btn--icon .icon {
      top: 50%;
      position: absolute;
      margin-top: -11px; }

a.btn {
  text-decoration: none !important; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

.editor {
  word-wrap: break-word;
  -webkit-nbsp-mode: normal; }
  .editor.empty:before {
    color: #aab8c2;
    content: attr(data-placeholder);
    position: absolute;
    pointer-events: none; }
  .editor p,
  .editor div {
    font-size: inherit;
    font-weight: inherit; }
  .editor .mention,
  .editor .hashtag {
    color: #6772e5;
    font-size: inherit;
    font-weight: inherit; }

.cookies-notice {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }
  .cookies-notice .wrapped {
    max-width: 800px; }
  .cookies-notice--body {
    color: #fff;
    float: left;
    width: 80%; }
    .cookies-notice--body a {
      color: inherit;
      font-size: inherit;
      text-decoration: underline; }
  .cookies-notice--button {
    width: 20%;
    float: right; }
  .cookies-notice.active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

.popover {
  width: 250px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  border-radius: 3px;
  background-color: #1f2d3d;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .popover--xxs {
    width: 200px; }
  .popover--xs {
    width: 250px; }
  .popover--s {
    width: 300px; }
  .popover--m {
    width: 350px; }
  .popover--l {
    width: 400px; }
  .popover--xl {
    width: 450px; }
  .popover::after {
    width: 10px;
    height: 10px;
    content: "";
    display: block;
    border-radius: 3px;
    background-color: #1f2d3d;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .popover.popover--light {
    background: #fff;
    box-shadow: 0 0 1px 1px #e9eaec; }
    .popover.popover--light::after {
      background: #fff;
      box-shadow: -1px -1px #e9eaec; }
  .popover.active {
    opacity: 1;
    visibility: visible; }
    .popover.active.popover--top, .popover.active.popover--bottom {
      -webkit-transform: translateX(-50%) translateY(0) scale(1);
      transform: translateX(-50%) translateY(0) scale(1); }
    .popover.active.popover--left, .popover.active.popover--right {
      -webkit-transform: translateY(-50%) translateX(0) scale(1);
      transform: translateY(-50%) translateX(0) scale(1); }
    .popover.active.popover--align--left, .popover.active.popover--align--right {
      -webkit-transform: translateX(0) translateY(0) scale(1);
      transform: translateX(0) translateY(0) scale(1); }
  .popover--trigger:hover .popover {
    opacity: 1;
    visibility: visible; }
  .popover--trigger:hover .popover--top,
  .popover--trigger:hover .popover--bottom {
    -webkit-transform: translateX(-50%) translateY(0) scale(1);
    transform: translateX(-50%) translateY(0) scale(1); }
  .popover--trigger:hover .popover--left,
  .popover--trigger:hover .popover--right {
    -webkit-transform: translateY(-50%) translateX(0) scale(1);
    transform: translateY(-50%) translateX(0) scale(1); }
  .popover.popover--top, .popover.popover--bottom {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
    .popover.popover--top::after, .popover.popover--bottom::after {
      left: 50%; }
  .popover.popover--left, .popover.popover--right {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .popover.popover--left::after, .popover.popover--right::after {
      top: 50%; }
  .popover.popover--top {
    bottom: 100%;
    margin-bottom: 10px;
    -webkit-transform: translateY(15px) translateX(-50%) scale(0.8);
    transform: translateY(15px) translateX(-50%) scale(0.8);
    -webkit-transform-origin: bottom;
    transform-origin: bottom; }
    .popover.popover--top::after {
      bottom: -4px; }
  .popover.popover--left {
    right: 100%;
    margin-right: 10px;
    -webkit-transform: translateX(15px) translateY(-50%) scale(0.8);
    transform: translateX(15px) translateY(-50%) scale(0.8);
    -webkit-transform-origin: right;
    transform-origin: right; }
    .popover.popover--left::after {
      right: -4px;
      margin-top: -5px; }
  .popover.popover--right {
    left: 100%;
    margin-left: 10px;
    -webkit-transform: translateX(-15px) translateY(-50%) scale(0.8);
    transform: translateX(-15px) translateY(-50%) scale(0.8);
    -webkit-transform-origin: left;
    transform-origin: left; }
    .popover.popover--right::after {
      left: -4px;
      margin-top: -5px; }
  .popover.popover--bottom {
    top: 100%;
    margin-top: 10px;
    -webkit-transform: translateY(-15px) translateX(-50%) scale(0.8);
    transform: translateY(-15px) translateX(-50%) scale(0.8);
    -webkit-transform-origin: top;
    transform-origin: top; }
    .popover.popover--bottom::after {
      top: -4px; }
  .popover.popover--align--left {
    right: auto;
    left: 0;
    -webkit-transform: translateX(0) translateY(15px) scale(0.8);
    transform: translateX(0) translateY(15px) scale(0.8);
    -webkit-transform-origin: left top;
    transform-origin: left top; }
    .popover.popover--align--left::after {
      right: auto;
      left: 15px; }
  .popover.popover--align--right {
    left: auto;
    right: 0;
    -webkit-transform: translateX(0) translateY(-15px) scale(0.8);
    transform: translateX(0) translateY(-15px) scale(0.8);
    -webkit-transform-origin: right top;
    transform-origin: right top; }
    .popover.popover--align--right::after {
      left: auto;
      right: 15px; }

.onboard--blur {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 200;
  position: fixed;
  transition: opacity .2s;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.7); }
  .onboard--blur.active {
    opacity: 1; }

.onboard--wrap {
  top: 0;
  left: 0;
  z-index: 202;
  position: absolute; }

.onboard--focus, .onboard--popover {
  z-index: 201; }

.datepicker {
  max-width: 310px; }
  .datepicker--wrap {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
    background: #ffffff;
    border-radius: 4px; }
    .datepicker--wrap--time {
      width: 120px;
      margin: 0 auto;
      padding: 20px 0; }
      .datepicker--wrap--time .item {
        float: left;
        padding: 0 5px; }
        .datepicker--wrap--time .item--up, .datepicker--wrap--time .item--down {
          margin: 0 15px; }
          .datepicker--wrap--time .item--up i, .datepicker--wrap--time .item--down i {
            width: 20px;
            height: 20px;
            display: block;
            background-position: 50%;
            background-size: 13px 13px;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj4KICA8cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4ODE3OTk2LDYuMjk2MDg0NzEgTDMuMjAxODQzODEsMi4yMDk3NDg1NiBDMi45MzE5NjMzOSwxLjkzOTg2ODE0IDIuOTMxMTUxMjcsMS40ODg3OTMwNyAzLjIwODg2NTAzLDEuMjExMDc5MzIgQzMuNDg4NTE0OTUsMC45MzE0MjkzOTIgMy45MzM2OTgyMywwLjkzMDIyMjA1NCA0LjIwNzUzNDI3LDEuMjA0MDU4MSBMOC44MDMwNTU2NSw1Ljc5OTU3OTQ3IEM4LjkzODAyMjY5LDUuOTM0NTQ2NTIgOS4wMDU2OTU5MSw2LjExNDgzMDI1IDkuMDA0ODkyMzgsNi4yOTYwODQ3MSBDOS4wMDU2OTU5MSw2LjQ3NzMzOTE4IDguOTM4MDIyNjksNi42NTc2MjI5MSA4LjgwMzA1NTY1LDYuNzkyNTg5OTYgTDQuMjA3NTM0MjcsMTEuMzg4MTExMyBDMy45MzM2OTgyMywxMS42NjE5NDc0IDMuNDg4NTE0OTUsMTEuNjYwNzQgMy4yMDg4NjUwMywxMS4zODEwOTAxIEMyLjkzMTE1MTI3LDExLjEwMzM3NjQgMi45MzE5NjMzOSwxMC42NTIzMDEzIDMuMjAxODQzODEsMTAuMzgyNDIwOSBMNy4yODgxNzk5Niw2LjI5NjA4NDcxIFoiLz4KPC9zdmc+Cg=="); }
        .datepicker--wrap--time .item--up i {
          transform: rotate(-90deg); }
        .datepicker--wrap--time .item--val {
          width: 40px;
          height: 24px;
          margin: 0 5px;
          overflow: hidden; }
          .datepicker--wrap--time .item--val ul {
            width: 40px;
            text-align: center;
            -webkit-transition: -webkit-transform .1s;
            -moz-transition: -moz-transform .1s;
            transition: transform .1s;
            -webkit-transform: translate(0, 0);
            -moz-transform: translate(0, 0);
            transform: translate(0, 0); }
          .datepicker--wrap--time .item--val li {
            width: 40px;
            font-size: 16px;
            line-height: 20px;
            padding: 2px 0; }
        .datepicker--wrap--time .item--down i {
          transform: rotate(90deg); }
    .datepicker--wrap--date {
      margin: 0 auto;
      padding: 10px 0;
      position: relative; }
      .datepicker--wrap--date table {
        border-spacing: 0;
        border-collapse: collapse; }
      .datepicker--wrap--date caption {
        color: #868c92;
        margin-top: 10px;
        margin-bottom: 48px; }
      .datepicker--wrap--date--nav .arrowPrev,
      .datepicker--wrap--date--nav .arrowNext {
        top: 12px;
        z-index: 2;
        position: absolute; }
      .datepicker--wrap--date--nav .arrowPrev {
        left: 6px; }
      .datepicker--wrap--date--nav .arrowNext {
        right: 6px; }
      .datepicker--wrap--date--nav .arrowPrev i,
      .datepicker--wrap--date--nav .arrowNext i {
        width: 34px;
        height: 34px;
        display: block;
        background-position: 50%;
        background-size: 13px 13px;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj4KICA8cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4ODE3OTk2LDYuMjk2MDg0NzEgTDMuMjAxODQzODEsMi4yMDk3NDg1NiBDMi45MzE5NjMzOSwxLjkzOTg2ODE0IDIuOTMxMTUxMjcsMS40ODg3OTMwNyAzLjIwODg2NTAzLDEuMjExMDc5MzIgQzMuNDg4NTE0OTUsMC45MzE0MjkzOTIgMy45MzM2OTgyMywwLjkzMDIyMjA1NCA0LjIwNzUzNDI3LDEuMjA0MDU4MSBMOC44MDMwNTU2NSw1Ljc5OTU3OTQ3IEM4LjkzODAyMjY5LDUuOTM0NTQ2NTIgOS4wMDU2OTU5MSw2LjExNDgzMDI1IDkuMDA0ODkyMzgsNi4yOTYwODQ3MSBDOS4wMDU2OTU5MSw2LjQ3NzMzOTE4IDguOTM4MDIyNjksNi42NTc2MjI5MSA4LjgwMzA1NTY1LDYuNzkyNTg5OTYgTDQuMjA3NTM0MjcsMTEuMzg4MTExMyBDMy45MzM2OTgyMywxMS42NjE5NDc0IDMuNDg4NTE0OTUsMTEuNjYwNzQgMy4yMDg4NjUwMywxMS4zODEwOTAxIEMyLjkzMTE1MTI3LDExLjEwMzM3NjQgMi45MzE5NjMzOSwxMC42NTIzMDEzIDMuMjAxODQzODEsMTAuMzgyNDIwOSBMNy4yODgxNzk5Niw2LjI5NjA4NDcxIFoiLz4KPC9zdmc+Cg=="); }
      .datepicker--wrap--date--nav .arrowPrev i {
        left: 0;
        transform: rotate(180deg); }
      .datepicker--wrap--date--nav .arrowNext i {
        right: 0; }
      .datepicker--wrap--date--header {
        z-index: 2;
        color: #757575;
        text-align: left;
        position: relative; }
      .datepicker--wrap--date--header ul {
        top: 50px;
        left: 15px;
        position: absolute; }
      .datepicker--wrap--date--header li {
        width: 40px;
        color: #868c92;
        font-size: 12px;
        text-align: center;
        display: inline-block; }
      .datepicker--wrap--date--container {
        overflow: hidden;
        transition: opacity .2s, height .2s; }
        .datepicker--wrap--date--container--wrap {
          position: relative; }
      .datepicker--wrap--date--month {
        top: 0;
        left: 0;
        padding: 0 15px;
        position: absolute;
        vertical-align: top;
        -webkit-transition: opacity .2s, -webkit-transform .2s;
        -moz-transition: opacity .2s,    -moz-transform .2s;
        transition: opacity .2s,         transform .2s;
        -webkit-transform: translate(400px, 0);
        -moz-transform: translate(400px, 0);
        transform: translate(400px, 0); }
        .datepicker--wrap--date--month.next {
          -webkit-transform: translate(-400px, 0);
          -moz-transform: translate(-400px, 0);
          transform: translate(-400px, 0); }
        .datepicker--wrap--date--month.active {
          opacity: 1;
          position: relative;
          -webkit-transform: translate(0, 0);
          -moz-transform: translate(0, 0);
          transform: translate(0, 0); }
        .datepicker--wrap--date--month.no-anim {
          -webkit-transition: 0;
          -moz-transition: 0;
          transition: 0; }
      .datepicker--wrap--date--day {
        width: 40px;
        height: 40px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        margin-right: -1px;
        border-radius: 50%;
        margin-bottom: -1px;
        display: inline-block;
        box-sizing: border-box; }
        .datepicker--wrap--date--day:hover {
          background-color: #e9eaec; }
        .datepicker--wrap--date--day span {
          font-size: 14px;
          font-weight: 500; }
        .datepicker--wrap--date--day.valid span {
          color: #868c92; }
        .datepicker--wrap--date--day.blocked span {
          color: #b9c1c9; }
        .datepicker--wrap--date--day.outside {
          border: none;
          background: transparent; }
        .datepicker--wrap--date--day.selected {
          background-color: #6772e5; }
        .datepicker--wrap--date--day.selected span {
          color: #ffffff; }
  .datepicker--actions {
    text-align: center;
    margin-top: 20px; }

.progress {
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  z-index: 150;
  position: fixed; }
  .progress--inner {
    height: 4px;
    will-change: width;
    background: linear-gradient(90deg, #6772e5, #6772e5, #9DA4F4, #6772e5, #6772e5);
    background-size: 800% 100%;
    background-position: 0% 50%;
    -webkit-animation: loop 2s ease infinite;
    -moz-animation: loop 2s ease infinite;
    animation: loop 2s ease infinite;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease; }
  .progress.error .progress--inner {
    background: #e8686d; }

@-webkit-keyframes loop {
  0% {
    background-position: 0% 50%; }
  100% {
    background-position: 100% 50%; } }

@-moz-keyframes loop {
  0% {
    background-position: 0% 50%; }
  100% {
    background-position: 100% 50%; } }

@keyframes loop {
  0% {
    background-position: 0% 50%; }
  100% {
    background-position: 100% 50%; } }

#backdrop {
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #backdrop.active {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 20;
    position: fixed; }

.bar {
  width: 100%;
  position: relative;
  background: #e5e9f2; }
  .bar--s {
    height: 12px;
    border-radius: 6px; }
    .bar--s--inner {
      height: 12px;
      border-radius: 6px; }
  .bar--m {
    height: 16px;
    border-radius: 8px; }
    .bar--m--inner {
      height: 16px;
      border-radius: 8px; }
  .bar--l {
    height: 24px;
    border-radius: 12px; }
    .bar--l--inner {
      height: 24px;
      border-radius: 12px; }

.tabs {
  width: 100%;
  list-style: none;
  border-bottom: 2px solid #e9eaec; }
  .tabs li {
    height: 50px;
    display: inline-block;
    margin: 0 20px -2px 0;
    line-height: 48px; }
    .tabs li > a {
      display: block;
      line-height: 48px;
      border-bottom: none; }
    .tabs li.active {
      border-bottom: 2px solid #6772e5; }

#foot.absolute {
  left: 0;
  width: 100%;
  bottom: 0;
  position: absolute; }
  #foot.absolute a {
    color: #fff; }

#foot .wrapped {
  padding: 40px 0; }

#foot ul {
  text-align: center; }

#foot li {
  display: inline-block;
  margin: 0 10px;
  padding: 3px 0; }

#foot a {
  color: #999; }
  #foot a:hover, #foot a:active {
    color: #4f545c; }

#foot__signature {
  padding: 20px;
  text-align: center;
  padding-top: 0; }
  #foot__signature a,
  #foot__signature a:hover,
  #foot__signature a:active {
    color: #eb4d5c; }
    #foot__signature a .heart:before,
    #foot__signature a:hover .heart:before,
    #foot__signature a:active .heart:before {
      content: '\2665';
      display: inline-block;
      font-size: 20px;
      font-style: normal;
      font-weight: 400; }

#head__trig {
  flex-grow: 1; }
  #head__trig .btn {
    margin: 0 auto;
    max-width: 180px; }

.head__user--trigger--avatar {
  float: left; }
  .head__user--trigger--avatar img {
    width: 40px;
    height: 40px; }

.post--wrap--inner {
  overflow: hidden;
  position: relative;
  border-radius: 3px; }
  .post--wrap--inner img {
    width: 100%; }
  .post--wrap--inner--overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    text-align: center;
    background-color: rgba(232, 104, 109, 0.85);
    align-items: center;
    justify-content: center; }
    .post--wrap--inner--overlay--wrap--msg {
      max-width: 200px; }
    .post--wrap--inner--overlay--wrap--act {
      max-width: 150px; }

.post--meta {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .post--meta--date {
    float: left;
    font-size: 14px;
    font-weight: 500; }
    .post--meta--date--day {
      color: #4f545c;
      font-weight: 600; }
    .post--meta--date--time {
      margin-left: 5px; }
  .post--meta--acts {
    float: right; }
    .post--meta--acts a {
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      margin-left: 10px; }
    .post--meta--acts .icon {
      top: -1px;
      display: inline-block;
      margin-right: 2px;
      vertical-align: middle; }

.post:hover .post--meta, .post.active .post--meta {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0); }

#shell {
  background-color: #ffffff; }

.shell {
  transition: opacity .1s; }

.avatar--xs {
  width: 30px;
  height: 30px; }
  .avatar--xs img {
    width: 30px;
    height: 30px; }

.avatar--s {
  width: 34px;
  height: 34px; }
  .avatar--s img {
    width: 34px;
    height: 34px; }

.avatar--m {
  width: 40px;
  height: 40px; }
  .avatar--m img {
    width: 40px;
    height: 40px; }

.avatar--l {
  width: 60px;
  height: 60px; }
  .avatar--l img {
    width: 60px;
    height: 60px; }

.avatar--xl {
  width: 80px;
  height: 80px; }
  .avatar--xl img {
    width: 80px;
    height: 80px; }

.instagram--header, .instagram--form--header {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  line-height: 40px;
  padding-bottom: 30px; }

.instagram--phone {
  width: 240px;
  height: 450px;
  border-radius: 30px;
  background-color: #e9eaec; }
  .instagram--phone--home {
    width: 30px;
    height: 30px;
    margin: 10px auto;
    border-radius: 15px;
    background-color: #ffffff; }
  .instagram--phone--speaker {
    width: 40px;
    height: 6px;
    margin: 22px auto;
    border-radius: 3px;
    background-color: #ffffff; }
  .instagram--phone--screen {
    height: 350px;
    margin: 0 10px;
    overflow: hidden;
    border-radius: 2px;
    background-color: #ffffff;
    background-image: url(../img/phone.svg); }

.doc h1 {
  color: #6772e5;
  padding: 100px 0 50px; }

.doc .wrapped {
  max-width: 600px; }

.doc p {
  margin: 0 0 16px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500; }

.doc a {
  color: #6772e5;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500; }

.doc ul,
.doc ol {
  padding: 10px 0; }

.doc li {
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  padding-left: 28px;
  padding-bottom: 10px; }
  .doc li:before {
    content: '\2022';
    display: block;
    position: relative;
    max-width: 0px;
    max-height: 0px;
    left: -25px;
    top: -3px;
    color: #6772e5;
    font-size: 20px; }

.doc h2 {
  padding: 20px 0 0;
  line-height: 40px; }

.doc h3 {
  margin-bottom: 5px; }

.doc h4 {
  color: #4f545c;
  padding: 15px 0 0;
  font-size: 20px;
  line-height: 24px; }

.doc strong {
  color: #2e3136; }

.doc blockquote {
  border: none;
  margin: 20px 0;
  padding: 40px 10%;
  font-size: 22px;
  font-style: italic;
  text-align: center;
  font-weight: 500;
  line-height: 32px; }
  .doc blockquote p {
    color: #90b3f8;
    font-size: 26px;
    text-align: center;
    font-style: italic;
    line-height: 32px;
    font-weight: 400; }

.doc a.anchor {
  float: left;
  line-height: 1;
  margin-left: -40px; }

.doc table {
  width: 100%;
  padding: 20px 0;
  text-align: left;
  font-size: 15px; }
  .doc table thead th {
    margin: 2px 0;
    color: #2e3136; }
  .doc table tbody th {
    font-weight: 500; }

.logo {
  width: 132px;
  height: 36px;
  text-indent: -9999px;
  display: block;
  background-image: url(../img/logo.svg); }
  .logo.light {
    background-position: 0px -36px; }

.hero {
  height: 85%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0; }
  .hero .cont {
    z-index: 2;
    margin-top: -7%;
    position: relative; }
  .hero.full {
    height: 100%; }
  .hero.center {
    display: flex;
    align-items: center;
    justify-content: center; }

#illustration {
  left: 60%;
  width: 420px;
  bottom: 100px;
  height: 637px;
  position: absolute;
  margin-left: -10px;
  background: url(../img/illust.svg);
  -webkit-transform: rotate(12deg);
  transform: rotate(12deg);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0; }

#stripe {
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  position: absolute;
  background: #f6f9fc;
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
  -webkit-transform-origin: 0;
  transform-origin: 0; }
  #stripe span {
    height: 190px;
    position: absolute; }
  #stripe span:nth-child(1) {
    width: 33.33333%;
    bottom: 0;
    background: #f2f5f8; }
  #stripe span:nth-child(2) {
    top: 360px;
    right: 0;
    width: 25%;
    background: #eef1f4; }

/* -------------------------------------------------------------------------- */
/* - Laviréo -> Queries ----------------------------------------------------- */
/* -------------------------------------------------------------------------- */
@media (min-width: 700px) {
  .mobile {
    display: none; } }

@media (max-width: 699px) {
  #headline h1 {
    font-size: 35px;
    line-height: 50px; }
  .desktop {
    display: none; }
  .col--6 {
    width: 100%; }
  .plans .col--6 + .col--6 {
    margin-top: 80px; }
  .font_size--xxxxxl {
    font-size: 65px;
    line-height: 80px;
    letter-spacing: -1px; } }
