
.avatar
{
  $avatar-sizes:
    xs  30px,
    s   34px,
    m   40px,
    l   60px,
    xl  80px;


  @each $value in $avatar-sizes {
    &--#{nth($value, 1)}
    {
      width: #{nth($value, 2)};
      height: #{nth($value, 2)};

      img
      {
        width: #{nth($value, 2)};
        height: #{nth($value, 2)};
      }
    }
  }
}
