.bar
{
  width:      100%;
  position:   relative;
  background: #e5e9f2;


  $bar-sizes:
    s 12,
    m 16,
    l 24;

  @each $value in $bar-sizes {
    &--#{nth($value, 1)}
    {
      height:        #{nth($value, 2)}px;
      border-radius: #{nth($value, 2) / 2}px;

      &--inner
      {
        height:        #{nth($value, 2)}px;
        border-radius: #{nth($value, 2) / 2}px;
      }
    }
  }
}
