$red:            #e8686d;
$red_dark:       #ce5d61;
$blue:           #90b3f8;
$purple:         #6772e5;
$purple_dark:    #5d67d0;
$yellow:         #F8B700;
$yellow_tint:    #fdf4e7;
$orange:         #ff7849;
$orange_dark:    #ab5131;
$green:          #13B57D;
$green_dark:     #12a974;
$white:          #ffffff;
$white_dark:     #f1f5f9;
$darkgrey:       #4f545c;
$darkgrey_dark:  #27292f;
$grey:           #828a99;
$lightgrey:      #babec8;//#e5e9f2;
$grey_tint:      #fafaff;
$grey_dark:      #8695a9;
$dark:           #2e3136;

$color-list:
  red            $red,
  purple         $purple,
  yellow         $yellow,
  orange         $orange,
  green          $green,
  white          $white,
  darkgrey       $darkgrey,
  grey           $grey,
  lightgrey      $lightgrey,
  dark           $dark;


@each $value in $color-list {
  .c--#{'' + nth($value, 1)}
  {
    color: #{nth($value, 2)};
  }
  .bg--#{'' + nth($value, 1)}
  {
    background-color: #{nth($value, 2)};
  }
  .bg--#{'' + nth($value, 1)}--active
  {
    &:active,
    &.active
    {
      background-color: #{nth($value, 2)};
    }
  }
  .fill--#{'' + nth($value, 1)}
  {
    fill: #{nth($value, 2)};
  }
}
