.cookies-notice
{
  left:             0;
  right:            0;
  bottom:           0;
  z-index:          1000;
  opacity:          0;
  position:         fixed;
  visibility:       hidden;
  padding-top:      20px;
  padding-bottom:   20px;
  background-color: rgba(0,0,0,.8);

  -webkit-transform:  translateY(100%);
  -ms-transform:  translateY(100%);
  transform:  translateY(100%);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;


  .wrapped
  {
    max-width: 800px;
  }

  &--body
  {
    color: #fff;
    float: left; 
    width: 80%;

    a {
      color:           inherit;
      font-size:       inherit;
      text-decoration: underline;
    }
  }

  &--button
  {
    width: 20%;
    float: right; 
  }

  &.active
  {
    opacity:    1;
    visibility: visible;

    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }
}
