.modal.create_story
{
  max-width: none;

  .drop
  {
    &--wrap
    {
      position: relative;

      &--tip
      {
        text-align: center;
        background: $darkgrey;

        &--text
        {
          color:  #ffffff;
          width:  240px;
          margin: 0 auto 20px;
        }

        &--formats
        {
          font-size: 12px;
        }
      }
    }

    &--input
    {
      top:      0;
      left:     0;
      width:    100%;
      height:   100%;
      opacity:  0;
      position: absolute;
    }
  }
  
  .story_input
  {
    padding: 20px 15px; 

    &--title
    {
      color:         $darkgrey;
      font-size:     46px;
      font-weight:   500;
      line-height:   70px;
      margin-bottom: 20px;
    }

    &--content
    {
      width:          100%;
      resize:         none;
      font-size:      20px; 
      overflow-y:     hidden;
      line-height:    28px;
      padding-bottom: 10px;
    }
  }

  .story_preview
  {
  }

  .create_story
  {
    &--form
    {
      &--actions
      {
        text-align:     right;
        padding-bottom: 20px;

        .btn
        {
          margin-left: 10px;
        }
      }
    }
  }
}
