/* -------------------------------------------------------------------------- */
/* - Laviréo -> Queries ----------------------------------------------------- */
/* -------------------------------------------------------------------------- */
@media (min-width : 700px) {
  .mobile { display: none }
}
@media (max-width : 699px) {
  #headline
  {
    h1
    {
      font-size:   35px;
      line-height: 50px;
    }
  }
  .desktop { display: none }
  .col--6
  {
    width: 100%; 
  }
  .plans
  {
    .col--6 + .col--6
    {
      margin-top: 80px;
    }
  }

  .font_size--xxxxxl
  {
    font-size:      65px;
    line-height:    80px;
    letter-spacing: -1px;
  }
}
