.js-dropdown
{
  z-index: 30;

  &--trigger
  {
  
  }

  &--content
  {
    opacity:    0;
    display:    none;
    transition: opacity .2s ease, -webkit-transform .2s ease;
    transition: opacity .2s ease,         transform .2s ease;

    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }

  &.active &--content
  {
    display: block;
    opacity: 1;

    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
