.editor
{
  word-wrap: break-word;
  -webkit-nbsp-mode: normal;

  &.empty
  {
    &:before
    {
      color:          #aab8c2;
      content:        attr(data-placeholder);
      position:       absolute;
      pointer-events: none;
    }

  }

  p,
  div {
    font-size:   inherit;
    font-weight: inherit;
  }

  .mention,
  .hashtag {
    color:       $purple;
    font-size:   inherit;
    font-weight: inherit;
  }
}
