h1 {
  margin: 0;
  color: #2e3136;
  font-size: 36px;
  font-weight: 300;
  line-height: 44px;
  letter-spacing: 0.05em;
}

h2 {
  margin: 0;
  color: #2e3136;
  font-size: 26px;
  font-weight: 400;
  line-height: 34px;
}

h3 {
  margin: 0;
  color: #2e3136;
  font-size: 18px;
  font-weight: 500;
}

h4 {
  margin: 0;
  color: #BBBBBB;
  font-size: 14px;
  font-weight: 400;
}

a {
  color: #737f8d;
  text-decoration: none;
}

p
{
  color: #737f8d;
  font-size: 15px;
  line-height: 18px;
}


.textAlign
{
  &--l
  {
    text-align: left;  
  }
  &--m
  {
    text-align: center;
  }
  &--r
  {
    text-align: right;
  }
}


.font_size
{
  &--xs
  {
    font-size:   12px; 
    font-weight: 500;
    line-height: 22px;
  }

  &--s
  {
    font-size:   14px; 
    font-weight: 500;
    line-height: 22px;
  }

  &--m
  {
    font-size:   16px; 
    font-weight: 600;
    line-height: 24px;
  }

  &--l
  {
    font-size:   18px; 
    font-weight: 500;
    line-height: 28px;
  }

  &--xl
  {
    font-size:   20px; 
    font-weight: 400;
    line-height: 34px;
  }

  &--xxl
  {
    font-size:   26px; 
    font-weight: 400;
    line-height: 38px;
  }

  &--xxxl
  {
    font-size:      38px; 
    line-height:    46px;
    letter-spacing: -1px;
  }

  &--xxxxl
  {
    font-size:      65px;
    line-height:    70px;
    font-weight:    500;
    letter-spacing: -1px;
  }

  &--xxxxxl
  {
    font-size:      77px;
    line-height:    110px;
    font-weight:    700;
    letter-spacing: -1.5px;
  }
}


.font_weight
{
  $weights: 400, 500, 600, 700, 800;

  @each $value in $weights {
    &--#{$value}
    {
      font-weight: $value;
    }
  }


}
