#head__trig
{
  flex-grow: 1;
  .btn
  {
    margin:    0 auto;
    max-width: 180px;
  }
}

.head__user
{
  &--trigger
  {
    &--avatar
    {
      float: left;

      img
      {
        width:  40px;
        height: 40px;
      }
    }
  }
}
