/* -------------------------------------------------------------------------- */
/* - Laviréo -> Icons ------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.icon
{
  width: 22px;
  height: 22px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background: url(../img/ui.svg);


  &.at
  {
    background-position: -66px -44px;
  }
  &.add
  {
    background-position: -66px 0px;
  }
  &.mail
  {
    background-position: -44px -44px;
  }
  &.lock
  {
    background-position: -44px -66px;
  }
  &.scroll
  {
    left: 0;
    right: 0;
    bottom: 80px;
    margin: 0 auto;
    position: absolute;
    -webkit-animation: 1s jump infinite;
    -moz-animation: 1s jump infinite;
    animation: 1s jump infinite;
    background-position: -66px -66px;
  }
  &.person
  {
    background-position: -44px -22px;
  }
  &.hashtag
  {
    background-position: -66px -22px;
  }

  &.back
  {
    background-position: -22px -66px;
  }
  &.close
  {
    background-position: 0px -66px;
  }

  &.encryption
  {
    background-position: -154px -132px;
  }


  &.cancel
  {
    background-position: -44px 0px;
  }
  &.publish
  {
    background-position: -22px -22px;
  }


  &.safe
  {
    width: 42px;
    height: 38px;
    background-position: -1px -110px;
  }
  &.time
  {
    width: 34px;
    height: 38px;
    background-position: -5px -148px;
  }
  &.simple
  {
    width: 35px;
    height: 38px;
    background-position: -48px -148px;
  }
  &.devices
  {
    width: 44px;
    height: 38px;
    background-position: -44px -110px;
  }


  &.thumb_up
  {
    width:  10px;
    height: 17px; 
    background-position: -116px -180px;
  }
  &.thumb_down
  {
    width:  10px;
    height: 17px; 
    background-position: -138px -180px;
  }
}


@-webkit-keyframes jump {
  0% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(15px);
  }
}
@-moz-keyframes jump {
  0% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(15px);
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(15px);
  }
}