.instagram
{
  &--header,
  &--form--header
  {
    font-size:      30px;
    text-align:     center;
    font-weight:    400;
    line-height:    40px;
    padding-bottom: 30px;
  }

  &--phone
  {
    width:            240px;
    height:           450px;
    border-radius:    30px; 
    background-color: #e9eaec;

    &--home
    {
      width:            30px;
      height:           30px;
      margin:           10px auto; 
      border-radius:    15px;
      background-color: #ffffff; 
    }

    &--speaker
    {
      width:            40px;
      height:           6px;
      margin:           22px auto; 
      border-radius:    3px; 
      background-color: #ffffff; 
    }

    &--screen
    {
      height:           350px;
      margin:           0 10px;
      overflow:         hidden;
      border-radius:    2px; 
      background-color: #ffffff; 
      background-image: url(../img/phone.svg);
    }


    .two_factor
    {
    
    }

    .suspicious
    {
    
    }
  }
}
