$modal-sizes:
  xxs 350px,
  xs 400px,
  s  500px,
  m  700px,
  l  800px,
  xl 960px;


body.modal_open
{
  overflow: hidden;
  position: relative;
}


/* -------------------------------------------------------------------------- */
/* - Laviréo -> Modals ------------------------------------------------------ */
/* -------------------------------------------------------------------------- */
.modals
{
  top:        0;
  left:       0;
  width:      100%;
  height:     100%;
  z-index:    100;
  display:    none;
  opacity:    0;
  position:   fixed;
  overflow-y: auto;
  transition: opacity .2s;
  background-color: #ffffff;

  &.active
  {
    opacity: 1;
  }

  &--wrapper
  {
    width:            100%;
    display:          flex;
    position:         relative;
    min-height:       100%;
    box-sizing:       border-box;
    align-items:      center;
    justify-content:  center;

    &--acts
    {
      z-index: 2;

      &--back,
      &--close
      {
        width:            22px;
        height:           22px;
        cursor:           pointer;
        padding:          9px;
        position:         absolute;
        border-radius:    50%;
        background-color: #e5e9f2;
      }

      &--back
      {
        top:  30px;
        left: 40px;
      }

      &--close
      {
        top:   30px;
        right: 40px;
      }
    }

    &--float
    {
      z-index: 1;
      width: 100%;
    }
  }
}


.modal
{
  margin:    0 auto;
  opacity:   0;
  position:  relative;
  padding:   50px 20px;

  -webkit-transition: opacity .2s, -webkit-transform .3s cubic-bezier(0.12,0.4,0.29, 1);
     -moz-transition: opacity .2s,    -moz-transform .3s cubic-bezier(0.12,0.4,0.29, 1);
       -o-transition: opacity .2s,      -o-transform .3s cubic-bezier(0.12,0.4,0.29, 1);
          transition: opacity .2s,         transform .3s cubic-bezier(0.12,0.4,0.29, 1);

  -webkit-transform: translate(0, -200px);
     -moz-transform: translate(0, -200px);
      -ms-transform: translate(0, -200px);
          transform: translate(0, -200px);



  @each $value in $modal-sizes {
    &--#{nth($value, 1)}
    {
      max-width: #{nth($value, 2)};
    }
  }


  &.active
  {
    opacity: 1;

    -webkit-transform: translate(0, 0);
       -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}


.modal.dialog
{
  text-align: center;
}
.modal.dialog .dialog--text
{
  color: #4f545c;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}
.modal.dialog .dialog--buttons
{
  height: 44px;
  margin-top: 32px;
}
.modal.dialog .dialog--buttons > .btn
{
  margin: 0 5px;
  min-width: 140px;
}


.modal.post_form
{
  .drop
  {
    margin-bottom: 20px;
    position:      relative;

    &--wrap
    {
      overflow:      hidden;
      position:      relative;
      border-radius: 3px;

      &--tip
      {
        padding:    163px 0;
        text-align: center;
        background: $darkgrey;

        &--text
        {
          color:  #ffffff;
          width:  240px;
          margin: 0 auto 20px;
        }

        &--formats
        {
          font-size: 12px;
        }
      }

      &--post
      {
        display: none;

        img
        {
          width:  100%;
          height: auto;
        }
      }

      &--input
      {
        top:      0;
        left:     0;
        width:    100%;
        height:   100%;
        opacity:  0;
        position: absolute;
      }
    }
  }

  .post_form
  {
    &--form
    {
      &--inputs
      {
        &--caption
        {
          position: relative;

          &--input
          {
            resize:         none;
            font-size:      20px;
            overflow-y:     hidden;
            line-height:    28px;

            a { font-size: 20px; }
          }

          &--indicator
          {
            right:            7px;
            width:            16px;
            height:           16px;
            top:              6px;
            position:         absolute;


            &--ctx
            {
              width:     16px;
              height:    16px;
              transform: rotate(-90deg);

              circle
              {
                fill:         none;
                stroke-width: 2px;
              }

              &--underlay
              {
                stroke: #e9eaec;
              }

              &--content
              {
                stroke: $purple;
              }
            }
          }
        }

        &--tags
        {
          width:          100%;
          resize:         none;
          overflow-y:     hidden;
          line-height:    24px;
          padding-bottom: 10px;
        }

        &--date
        {
          height:     24px;
          padding:    10px 0;
          border-top: 1px dashed #e9eaec;

          &--wrap
          {
            &--date,
            &--time
            {
              line-height: 24px;
            }

            &--time
            {
              position: relative;

              span
              {
                padding-left: 15px;
              }

              &:before
              {
                left:             0;
                width:            1px;
                content:          "";
                position:         absolute;
                height:           24px;
                background-color: #e9eaec;
              }
            }
          }
        }
      }
    }
  }
}


.upgrade
{
  &--plans
  {
    .plan
    {
      &--wrap
      {
        margin:     0 auto;
        padding:    0 20px;
        max-width:  180px;
        text-align: center;

        &--meta
        {
          padding: 60px 0 40px;
          text-align: left;

          .plan--item
          {
            color:       #4f545c;
            padding:     5px 0;
            position:    relative;
            font-size:   18px;
            line-height: 22px;


            &--val
            {
              left:     0;
              width:    22px;
              height:   22px;
              position: absolute;

              &:before
              {
                width:               22px;
                height:              22px;
                margin:              0;
                content:             '';
                display:             block;
                background:          url(../img/ui.svg);
                border-radius:       50%;
                background-position: 0 -44px;
              }
            }

            &.false
            {
              color: $lightgrey; 

              .plan--item--val
              {
                display: none;
              }
            }

            &--title
            {
              padding-left: 30px;
            }
          }
        }
      }
    }
  }
}
