.notice
{
  width:            100%;
  height:           0;
  opacity:          0;
  overflow:         hidden;
  visibility:       hidden;
  background-color: #6772e5;

  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;


  .wrapped
  {
    padding-top:    20px;
    padding-bottom: 20px;
  }

  &--body
  {
    color: #fff;
    float: left;
    width: 80%;

    a {
      color:           inherit;
      font-size:       inherit;
      text-decoration: underline;
    }
  }

  &--button
  {
    width: 20%;
    float: right; 
  }

  &.active
  {
    opacity:    1;
    visibility: visible;
  }
}
