/* -------------------------------------------------------------------------- */
/* - Flavour ---------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
video {
  width:          100%;
  height:         auto;
  vertical-align: middle;
}

.player
{
  position: relative;
  overflow: hidden;
}

.player--media
{
  max-width:           100%;
  max-height:          100%;
  overflow:            hidden;
  position:            relative;
  background:          #000000;
  border-radius:       3px;
  background-size:     contain;
  background-repeat:   no-repeat;
  background-position: 50% 50%;
}

.player--media--video
{
  flex:       1;
  max-width:  100%;
  max-height: 100%;
}
.player--media--target
{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  position: absolute;
}


/* ---------------------------------------------------------------- */
/* - Flavour -> Control ------------------------------------------- */
/* ---------------------------------------------------------------- */
.player--control
{
  z-index: 2;
  left: 10px;
  right: 10px;
  height: 40px;
  bottom: 10px;
  margin: 0 auto;
  max-width: 960px;
  border-radius: 2px;
  position: absolute;
  background: #343d45;
}


.player--control--main
{
  display: table-cell;
  vertical-align: bottom;
}

.player--control--main > .playpause
{
  width: 16px;
  height: 16px;
  display: block;
  cursor: pointer;
  margin: 12px 0 12px 15px;
  background: url(../img/player.svg) -22px -12px no-repeat;
}
.player--control--main.playing > .playpause
{
  background-position-x: -82px;
}


.player--control--progress
{
  width: 100%;
  display: table-cell;
  vertical-align: bottom;
}

.player--control--progress--wrap
{
  height: 6px;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  margin: 17px 20px;
  font-weight: bold;
  line-height: 14px;
  position: relative;
  border-radius: 3px;
  background: #22282d;
}
.player--control--progress--wrap div
{
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 3px;
  position: absolute;

  -webkit-transition: width .1s;
  -moz-transition: width .1s;
  -o-transition: width .1s;
  transition: width .1s;
}
.player--control--progress--wrap.no_animate div
{
  -webkit-transition: width 0;
  -moz-transition: width 0;
  -o-transition: width 0;
  transition: width 0;
}
.player--control--progress--wrap--time { background: #28AAE1; }
.player--control--progress--wrap--buffer { background: #455361; }

.player--control--options
{
  height: 16px;
  padding: 12px 0;
  min-width: 57px;
  display: table-cell;
  vertical-align: bottom;
}

.player--control--options > .fbutton
{
  float: left;
  opacity: .5;
  cursor: pointer;
  margin-right: 10px;

  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -o-otransition: opacity .2s;
  transition: opacity .2s;
}
.player--control--options > .fbutton:hover,
.player--control--options > .fbutton.active
{
  opacity: 1;
}
.player--control--options > .fbutton:last-child
{
  margin-right: 15px;
}
.player--control--options--volume
{
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background: #989da2;
  background: no-repeat url(../img/player.svg) -80px -40px;
}
.player--control--options--volume.muted
{
  background-position-x: -96px;
}

.player--control--options--fullscreen
{
  width: 16px;
  height: 16px;
  background: no-repeat url(../img/player.svg) -48px -40px;
}
.player--control--options--fullscreen.zoomed
{
  background-position-x: -64px;
}


.player > .player--overlay
{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: none;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  background: rgba(49,59,69,0.95);
}

.player.fullscreen
{
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  position: relative;
}
