$popover-sizes:
  xxs 200px,
  xs  250px,
  s   300px,
  m   350px,
  l   400px,
  xl  450px;


.popover
{
  width:            250px;
  z-index:          99;
  opacity:          0;
  visibility:       hidden;
  position:         absolute;
  border-radius:    3px;
  background-color: #1f2d3d;

  -webkit-transition-duration: .3s;
          transition-duration: .3s;

  -webkit-transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
          transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);


  @each $value in $popover-sizes {
    &--#{nth($value, 1)}
    {
      width: #{nth($value, 2)};
    }
  }


  &::after
  {
    width:            10px;
    height:           10px;
    content:          "";
    display:          block;
    border-radius:    3px;
    background-color: #1f2d3d;
    position:         absolute;

    -webkit-transform: rotate(45deg);
            transform: rotate(45deg)
  }


  &.popover--light
  {
    background: #fff;
    box-shadow: 0 0 1px 1px #e9eaec;

    &::after
    {
      background: #fff;
      box-shadow: -1px -1px #e9eaec;
    }
  }


  &.active
  {
    opacity:    1;
    visibility: visible;

    &.popover--top,
    &.popover--bottom
    {
      -webkit-transform: translateX(-50%) translateY(0) scale(1);
              transform: translateX(-50%) translateY(0) scale(1)
    }

    &.popover--left,
    &.popover--right
    {
      -webkit-transform: translateY(-50%) translateX(0) scale(1);
              transform: translateY(-50%) translateX(0) scale(1)
    }


    &.popover--align
    {
      &--left,
      &--right
      {
        -webkit-transform: translateX(0) translateY(0) scale(1);
                transform: translateX(0) translateY(0) scale(1);
      }
    }
  }

  &--trigger:hover
  {
    .popover
    {
      opacity:    1;
      visibility: visible;
    }

    .popover--top,
    .popover--bottom
    {
      -webkit-transform: translateX(-50%) translateY(0) scale(1);
              transform: translateX(-50%) translateY(0) scale(1)
    }

    .popover--left,
    .popover--right
    {
      -webkit-transform: translateY(-50%) translateX(0) scale(1);
              transform: translateY(-50%) translateX(0) scale(1)
    }
  }


  &.popover--top,
  &.popover--bottom
  {
    left: 50%;

    &::after
    {
      left: 50%
    }

    -webkit-transform: translateX(-50%);
            transform: translateX(-50%)
  }


  &.popover--left,
  &.popover--right
  {
    top: 50%;

    &::after
    {
      top: 50%
    }

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%)
  }


  &.popover--top
  {
    bottom:        100%;
    margin-bottom: 10px;

    -webkit-transform: translateY(15px) translateX(-50%) scale(.8);
            transform: translateY(15px) translateX(-50%) scale(.8);

    -webkit-transform-origin: bottom;
            transform-origin: bottom;

    &::after
    {
      bottom: -4px;
    }
  }

  &.popover--left
  {
    right:        100%;
    margin-right: 10px;

    -webkit-transform: translateX(15px) translateY(-50%) scale(.8);
            transform: translateX(15px) translateY(-50%) scale(.8);

    -webkit-transform-origin: right;
            transform-origin: right;

    &::after
    {
      right:      -4px;
      margin-top: -5px;
    }
  }

  &.popover--right
  {
    left:        100%;
    margin-left: 10px;

    -webkit-transform: translateX(-15px) translateY(-50%) scale(.8);
            transform: translateX(-15px) translateY(-50%) scale(.8);

    -webkit-transform-origin: left;
            transform-origin: left;

    &::after
    {
      left:       -4px;
      margin-top: -5px;
    }
  }

  &.popover--bottom
  {
    top:        100%;
    margin-top: 10px;

    -webkit-transform: translateY(-15px) translateX(-50%) scale(.8);
            transform: translateY(-15px) translateX(-50%) scale(.8);

    -webkit-transform-origin: top;
            transform-origin: top;

    &::after
    {
      top: -4px;
    }
  }

  &.popover--align
  {
    &--left
    {
      right: auto;
      left:  0;

      -webkit-transform: translateX(0) translateY(15px) scale(.8);
              transform: translateX(0) translateY(15px) scale(.8);

      -webkit-transform-origin: left top;
              transform-origin: left top;

      &::after 
      {
        right: auto;
        left:  15px;
      }
    }

    &--right
    {
      left:  auto;
      right: 0;

      -webkit-transform: translateX(0) translateY(-15px) scale(.8);
              transform: translateX(0) translateY(-15px) scale(.8);

      -webkit-transform-origin: right top;
              transform-origin: right top;

      &::after 
      {
        left:  auto;
        right: 15px;
      }
    }
  } 
}
