.post
{
  &--wrap
  {
    &--inner
    {
      overflow:      hidden;
      position:      relative;
      border-radius: 3px;

      img
      {
        width: 100%;    
      }

      &--overlay
      {
        top:              0;
        left:             0;
        width:            100%;
        height:           100%;
        display:          flex;
        position:         absolute;
        text-align:       center;
        background-color: transparentize($red, .15);

        align-items:     center;
        justify-content: center;

        &--wrap
        {
          &--msg
          {
            max-width: 200px;
          }

          &--act
          {
            max-width: 150px;
          }
        }
      }
    }
  }

  &--meta
  {
    opacity:    0;
    visibility: hidden;

    -webkit-transform: translateY(30px);
            transform: translateY(30px);

    -webkit-transition-duration: .3s;
            transition-duration: .3s;

    -webkit-transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
            transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);


    &--date
    {
      float:       left;
      font-size:   14px;
      font-weight: 500;

      &--day
      {
        color:       $darkgrey;
        font-weight: 600; 
      }

      &--time
      {
        margin-left: 5px;
      }
    }

    &--acts
    {
      float:          right;

      a {
        font-size:   14px;
        font-weight: 500;
        line-height: 18px;
        margin-left: 10px;
      }

      .icon
      {
        top:            -1px;
        display:        inline-block;
        margin-right:   2px;
        vertical-align: middle;
      }
    }
  }

  &:hover,
  &.active
  {
    .post--meta
    {
      opacity:    1;
      visibility: visible;

      -webkit-transform: translateY(0);
              transform: translateY(0)
    }
  }
}