.tabs
{
  width:         100%;
  list-style:    none;
  border-bottom: 2px solid #e9eaec;

  li
  {
    height:      50px;
    display:     inline-block;
    margin:      0 20px -2px 0;
    line-height: 48px;

    & > a
    {
      display:       block;
      line-height:   48px;
      border-bottom: none;
    }


    &.active
    {
      border-bottom: 2px solid $purple;
    }
  }
}
