$wrap-sizes:
  xxs 300px,
  xs 400px,
  s  500px,
  m  700px,
  l  800px,
  xl 960px;

.wrap
{
  @each $value in $wrap-sizes {
    &--#{nth($value, 1)}
    {
      max-width:    #{nth($value, 2)};
      padding:      0 20px;
      margin-left:  auto;
      margin-right: auto;
    }
  }
}
