<div class="pad--m wrap--l">
  <div class="inline">
    <div class="inline--grow">
      <a href="/" class="logo center--vertical"></a>
    </div>
    <div class="inline textAlign--r">
      <div><a href="#" class="btn btn--m clear js-trigger iblock lone" data-action="create_post"><i class="icon add"></i></a></div>
      <div class="margin--left--xs">
        <a href="#" class="js-trigger iblock relative" data-action="modal:open settings">
          <div class="head__user--trigger js-dropdown--trigger">
            <div class="head__user--trigger--avatar">
              <img class="border_radius" alt="" src="<%= current_user.avatar.url %>">
            </div>
          </div>
          <div class="popover popover--xxs popover--bottom active">
            <ul>
              <li>
                <a class="pad--s">
                </a>
              </li> 
            </ul>
            <div class="pad--top--xs">
                <a class="pad--s">
                </a>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
