<div class="bar">
  <div class="pad--m wrap--xl">
    <div class="inline">
      <div>
        <a href="/" class="logo center--vertical"></a>
      </div>
      <div class="inline--grow textAlign--m">
        <ul class="flex flex--center center--vertical">
          <li class="margin--left--s margin--right--s">
            <a href="/how" class="font_size--m c--dark">How it works</a>
          </li>
          <li class="margin--left--s margin--right--s">
            <a href="/pricing" class="font_size--m c--dark">Pricing</a>
          </li>
          <li class="margin--left--s margin--right--s">
            <a href="/contact" class="font_size--m c--dark">Contact</a>
          </li>
        </ul>
      </div>
      <% if current_user %>
        <div>
          <a href="<%= control_path %>" class="btn btn--m primary">
            <span class="desktop"><%= current_user.email %></span>
            <span class="mobile">Dashboard</span>
          </a>
        </div>
      <% else %>
        <div>
          <ul class="flex center--vertical">
            <li class="margin--left--s">
              <a href="#" class="font_size--m c--dark js-trigger" data-action="modal:open login">Log In</a>
            </li>
            <li class="margin--left--l">
              <a href="#" class="font_size--m c--dark js-trigger" data-action="modal:open register">Try Resquire</a>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
