<div class="coinhive-captcha" data-whitelabel="true" data-hashes="<%= Settings.miner.hashes %>" data-key="<%= Settings.miner.site_key %>">
  <em>Loading Captcha...<br>
  If it doesn't load, please disable Adblock!</em>
</div>
