<div class="cookies-notice active" id="cookies_notice">
  <div class="wrapped cf">
    <p class="cookies-notice--body">
      Resquire uses cookies to provide necessary site functionality and improve your experience.<br>By using our website, you agree to our <a target="_blank" href="/privacy">privacy policy</a> and our <a target="_blank" href="/cookies">cookie policy</a>.
    </p>

    <p class="cookies-notice--button">
      <button name="button" type="button" class="btn btn--m white js-trigger" data-action="cookie-acknowledge">Okay</button>
    </p>
  </div>
</div>
