<div class="wrap--s">
  <ul class="textAlign--m">
    <li class="iblock margin--left--s margin--right--s font_weight--500"><%= mail_to Settings.contact.email, 'Contact Us' %></li>
    <li class="iblock margin--left--s margin--right--s font_weight--500"><a href="<%= terms_path %>">Terms</a></li>
    <li class="iblock margin--left--s margin--right--s font_weight--500"><a href="<%= privacy_path %>">Privacy</a></li>
  </ul>
  <div id="foot__signature" class="margin--top--s">
    <a href="https://lavireo.com" target="_blank" class="font_weight--500">Made with <i class="heart"></i> in Germany</a> 
  </div>
</div>
