<div class="notice" id="mining">
  <div class="wrapped cf">
    <p class="notice--body">
      You can now support us directly using the power of your computer.
    </p>

    <p class="notice--button">
      <button name="button" type="button" class="btn medium white js-trigger" data-action="miner-acknowledge">Start</button>
    </p>
  </div>
</div>
